<extend name="base" />
<block name="title">
	<title>Network Service 后台管理</title>
</block>

<block name="quick-information">
	{:W('QuickInfo/message')} {:W('QuickInfo/notice')} {:W('QuickInfo/task')} {:W('QuickInfo/self')}
</block>

<block name="navigation">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>胡洋</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('menuusergroup'))}
	<!--menu widget-->
</block>

<block name="content-header">
	<h1>
		<a href="<php>echo U('Admin/UserGroup/index')</php>" >
	  <i class="ion ion-backspace" data-toggle="tooltip" data-placement="top" title="返回"></i>
	</a>
		<i class="fa fa-fw fa-users"></i>{$staff['gname']}
      </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li class="active">用户组管理</li>
	</ol>
</block>

<block name="content">
	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div class="col-md-4">
			<div class="box box-success">
				<div class="box-header">
					<h3 class="box-title"><span class="label label-success">{$staff['gname']}</span> Staff模块</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body no-padding margin">
					<form id="editform" action="" method="post">
						<div class="form-group">
	                  		<label for="gname">组名</label>
	                  		<input type="text" class="form-control" id="gname" name="gname" value="{$staff['gname']}"/>
	                	</div>
	                	<if condition="$staff['status'] eq 1">
	                		<input type="checkbox" id="status" name="status" class="chklist" />
	                		<else/><input type="checkbox" id="status" name="status" class="chklist" checked="checked"/>
	                	</if>
	        			<label class="chkbox chkdanger">
	            			<span id="chkbox-img"></span>
	            			<span class="radiobox-content">&nbsp;禁止登录</span>
	        			</label>
	        			<a id="editbtn" style="margin: 10px 0px;" class="btn btn-block btn-success">修改</a>
                	</form>
				</div>
				<!-- box-body -->
			</div>
		</div>
		
		<div class="col-md-8">
			<div class="box box-success">
				<div class="box-header">
					<h3 class="box-title"><span class="label label-success">{$staff['gname']} 权限</span> Staff模块</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body">
					<volist name="staffmenu" id="vo">
						<input type="checkbox" name="chk" class="chklist" />
	        			<label class="chkbox">
	            			<span id="chkbox-img"></span>
	            			<span class="radiobox-content">
	            				<i class="fa fa-fw {$vo.icon}"></i>&nbsp;
	            				{$vo.mname} &nbsp;&nbsp;&nbsp;&nbsp;{$vo.note}
	            			</span>
	        			</label>
					</volist>
					
				</div>
				<!-- box-body -->
			</div>
		</div>
		
	</div>
	<!-- row -->
</block>

<block name="script">
	<script type="text/javascript">
        $(".chklist").labelauty("chklist", "check");
        /*
		 * 判断用户组名是否为空
		 * */
		$("#gname").keyup(function(){
			if($("#gname")[0].value == ''){
				$("#gname").parent().addClass("has-error");
				$("#editbtn").attr("disabled","disabled");
			}else{
				$("#gname").parent().removeClass("has-error");
				$("#editbtn").removeAttr("disabled");
			}
		});
		/*
		 * 修改用户组
		 * */
		$("#editbtn").click(function() {
			var $btn = $(this).button('loading');
			$.post("<php>echo U('Admin/UserGroup/edit')</php>",{
				id : {$staff['group_id']},
				gname : $("#gname")[0].value,
				level : 'Staff',
				status : $("#status")[0].checked?0:1
				},
				function(data) {
					$btn.button('reset');
					if (data == true) {
						alert("修改成功");
					} else {
						alert(data);
						location.reload();
					}
				});
		});
		
	</script>
</block>