<!-- Tasks: style can be found in dropdown.less -->
<li class="dropdown tasks-menu">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-flag-o"></i>
		<span class="label label-danger">{$task_sum}</span>
	</a>
	<ul class="dropdown-menu">
		<li class="header">{$task_sum}个任务</li>
		<li>
			<ul class="menu">
				<!--考勤任务-->
				<if condition="$reg_sum eq 0">
					<else/>
					<li>
						<a href="<php>echo U('Boss/DoPeople/register')</php>"><h3>待考勤 {$reg_sum}人<small class="pull-right">{$reg_all}</small></h3>
							<div class="progress xs">
								<div class="progress-bar {$reg_color}" style="width: {$reg_percent}%" role="progressbar" aria-valuenow="{$reg_percent}" aria-valuemin="0" aria-valuemax="100">
									<span class="sr-only">{$reg_percent}% </span>
								</div>
							</div>
						</a>
					</li>
				</if>
				<!--请假审批任务-->
				<if condition="$vac_sum eq 0">
					<else/>
					<li>
						<a href="<php>echo U('Boss/DoPeople/staff')</php>"><h3>请假审批 {$vac_sum}条<small class="pull-right">{$vac_sum}</small></h3>
							<div class="progress xs">
								<div class="progress-bar progress-bar-red" style="width: 100%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</a>
					</li>
				</if>
				<!--离职审批任务-->
				<if condition="$dim_sum eq 0">
					<else/>
					<li>
						<a href="<php>echo U('Boss/DoPeople/dimission')</php>"><h3>离职审批 {$dim_sum}条<small class="pull-right">{$dim_sum}</small></h3>
							<div class="progress xs">
								<div class="progress-bar progress-bar-red" style="width: 100%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</a>
					</li>
				</if>
				<!--兼职信息-->
				<if condition="$app_sum eq 0">
					<else/>
					<li>
						<a href="<php>echo U('Boss/DoPeople/apply')</php>"><h3>兼职信息 {$app_sum}条<small class="pull-right">{$app_sum}</small></h3>
							<div class="progress xs">
								<div class="progress-bar progress-bar-warning" style="width: 100%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</a>
					</li>
				</if>
			</ul>
		</li>
		<li class="footer">
			<a href="#">查看所有任务</a>
		</li>
	</ul>
</li>