<extend name="base" />
<block name="title"><title>西北大学网络服务--首页</title></block>

<block name="content">

	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-success">
			<div class="panel-heading">登录</div>
			<div class="panel-body">
				<form action="" name="login_form" id="login_form" method="post">
					<label>姓名</label>
					<div class="form-group">
						<input class="form-control" id="uname" name="uname" placeholder="输入姓名" />
					</div>
					<label>密码（默认为学号）</label>
					<div class="form-group">
						<input class="form-control" id="password" name="password" type="password" placeholder="输入密码" />
					</div>
					<label>手机号</label>
					<div class="form-group">
						<input class="form-control" id="phone" type="number" name="phone"  placeholder="输入手机号" />
					</div>
					<div class="form-group">
						<label>验证码</label>
						<img id="verify_img" alt="验证码" src="<php>echo U('Home/Login/verify_c')</php>" title="点击刷新" />
					</div>
					<div class="form-group">
						<input class="form-control" name="verify" id="verify" type="text"  placeholder="验证码" autocomplete="off" />
					</div>
					<!--<div class="form-group">-->
						<!--<label class="control-label" id="captchaOperation"></label>-->
						<!--<input type="text" class="form-control" name="captcha" />-->
					<!--</div>-->
					<button id="submit" class="btn btn-outline btn-lg center-block">立即登录</button>
					<!--<a href="<php>echo U('Home/User/index')</php>" class="btn btn-outline-inverse btn-lg">登录</a>-->
				</form>
			</div>
		</div>
	</div>
</block>

<block name="script">
	<!--form validation-->
	<js href="__PUBLIC__/formvalidation/js/formValidation.min.js" />
	<js href="__PUBLIC__/formvalidation/js/framework/bootstrap.js" />
	<js href="__PUBLIC__/formvalidation/js/language/zh_CN.js" />
	<script type="text/javascript">
			$("#uname").focus();
			/*验证码刷新*/
			$("#verify_img").click(function() {
				var verify_link = "<php>echo U('Home/Login/verify_c','','')</php>-" + Math.random() + ".html";
				$(this).attr("src", verify_link);
			});
			/*表单验证*/
//			$("#submit").click(function() {
//				if ($("#uname").val() == '') {
//					alert("请输入用户名");
//					$("#uname").focus();
//				} else if ($("#password").val() == '') {
//					alert("请输入学号");
//					$("#password").focus();
//				} else if($("#phone").val() == '') {
//					alert("请输入手机号");
//					$("#phone").focus();
//				} else if ($("#verify").val() == '') {
//					alert("请输入验证码");
//					$("#verify").focus();
//				} else {
//					$.post("<php>echo U('Home/Login/verify')</php>",{
//						uname: $("#uname")[0].value,
//                        password: $("#password")[0].value,
//						phone: $("#phone")[0].value,
//				        verify: $("#verify")[0].value
//					},//$("#login_form").serialize(),
//					function(data) {
//						if (data) {
//							location.href = "index.php?s=/Home-User-index.html";
//						} else {
//							alert("登录失败");
//							$("#password,#verify").val('');
//							$("#uname").val('').focus();
//							$("#verify_img").click();
//						}
//					});
//				}
//			});

//			function randomNumber(min, max) {
//				return Math.floor(Math.random() * (max - min + 1) + min);
//			}
//			$('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 100), '='].join(' '));

			$('#login_form').formValidation({
				message: '数据非法',
				icon: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
					uname: {
						validators: {
							notEmpty: {
								message: '姓名必不可少'
							},
							regexp: {
								regexp: /[\u4E00-\u9FA5]{2,8}/,
								message: '姓名必须是中文，长度大于2，且不包含数字和特殊字符'
							}
						}
					},
					student_no: {
						validators: {
							notEmpty: {
								message: '学号必不可少'
							},
							stringLength: {
								min: 9,
								max: 10,
								message: '用户名必须在9-10个字符之间'
							},
							regexp: {
								regexp: /^201\d[1-2]\d[0-9]{3,4}$/,
								message: '学号必须是201xxxxxx，如201420666，或2010114127'
							}
						}
					},
					phone: {
						message: '手机号码非法',
						validators: {
							notEmpty: {
								message: '手机号必须设置'
							},
							stringLength: {
								min: 11,
								max: 11,
								message: '手机号必须为11位'
							},
							regexp: {
								regexp: /^0?(13|14|15|18)[0-9]{9}$/,
								message: '手机号必须合法'
							}
						}
					}
				}
			}).on('success.form.fv', function(e) {
				// Prevent form submission
				e.preventDefault();

				// Get the form instance
				var $form = $(e.target);

				// Get the FormValidation instance
				var bv = $form.data('formValidation');

				// Use Ajax to submit form data
				$.post("<php>echo U('Home/Login/verify')</php>",{
							uname: $("#uname")[0].value,
							password: $("#password")[0].value,
							phone: $("#phone")[0].value,
							verify: $("#verify")[0].value
						},//$("#login_form").serialize(),
						function(data) {
							if (data) {
								location.href = "index.php?s=/Home-User-index.html";
							} else {
								alert("登录失败");
//							$("#password,#verify").val('');
//							$("#uname").val('').focus();
								$("#verify_img").click();
								$("#verify").val('');
							}
						});
			});
		</script>		
</block>