<extend name="base" />
<block name="title">
	<title>Network Service 管理</title>
</block>

<block name="quick-information">
	{:W('QuickInfo/message')}
	{:W('QuickInfo/notice')}
	{:W('QuickInfo/task')}
	{:W('QuickInfo/self')}
</block>

<block name="navigation">
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>{$user.uname}</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('setpeople','setschedule'))}
	<!--menu widget-->
</block>

<block name="content-header">
	<h1>
		人事设置
		<small><span class="fa fa-fw fa-calendar-plus-o"></span>排班设置</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li class="active">首页</li>
	</ol>
</block>

<block name="content">
	<div class="row">
		<div class="col-md-8">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-check-square-o"></i>
					<h3 class="box-title">{$user.area} 排班表</h3>&nbsp;
					<button class="btn btn-sm btn-primary" id="addsch" data-toggle="modal" data-target="#addmodel">
						<i class="fa fa-plus">添加</i>
					</button>
					<button class="btn btn-sm btn-danger" id="removesch" data-toggle="modal" data-target="#addmodel">
						<i class="fa fa-remove">移除</i>
					</button>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>

				<div class="box-body no-padding">
					<table class="table table-striped" id="schtable">
						<tbody>
						    <foreach name="removestaff" item="vo">
								<tr>
									<td>{$vo.uname}</td>
									<td>
										<if condition="($vo['mon'] eq 1)">
											<input type="checkbox" name="status" class="chklist" checked="checked"/>
											<else /> <input type="checkbox" name="status" class="chklist"/>
										</if>
										<label class="chkbox">
											<span class="chkbox-img"></span>
											<span class="radiobox-content">周一</span>
										</label>
									</td>
									<td>
										<if condition="($vo['tues'] eq 1)">
											<input type="checkbox" name="status" class="chklist" checked="checked"/>
											<else /> <input type="checkbox" name="status" class="chklist"/>
										</if>
										<label class="chkbox">
											<span class="chkbox-img"></span>
											<span class="radiobox-content">周二</span>
										</label>
									</td>
									<td>
										<if condition="($vo['wed'] eq 1)">
											<input type="checkbox" name="status" class="chklist" checked="checked"/>
											<else /> <input type="checkbox" name="status" class="chklist"/>
										</if>
										<label class="chkbox">
											<span class="chkbox-img"></span>
											<span class="radiobox-content">周三</span>
										</label>
									</td>
									<td>
										<if condition="($vo['thurs'] eq 1)">
											<input type="checkbox" name="status" class="chklist" checked="checked"/>
											<else /> <input type="checkbox" name="status" class="chklist"/>
										</if>
										<label class="chkbox">
											<span class="chkbox-img"></span>
											<span class="radiobox-content">周四</span>
										</label>
									</td>
									<td>
										<if condition="($vo['fri'] eq 1)">
											<input type="checkbox" name="status" class="chklist" checked="checked"/>
											<else /> <input type="checkbox" name="status" class="chklist"/>
										</if>
										<label class="chkbox">
											<span class="chkbox-img"></span>
											<span class="radiobox-content">周五</span>
										</label>
									</td>
								</tr>
							</foreach>
						</tbody>
					</table>

				</div>
				<!-- box-body -->
			</div>
			<!-- box -->
		</div>
		<!-- col-md-4 -->
	</div>

</block>

<block name="script">
	<!-- set Modal -->
	<div class="modal fade" id="addmodel" tabindex="-1" role="dialog" aria-labelledby="addlabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span></button>
					<h4 class="modal-title">排班人员</h4>
				</div>
				<div class="modal-body">
					<form id="addform">
						<div class="form-group sr-only">
							<label for="type" class="control-label">ID</label>
							<input type="text" class="form-control" id="type" name="type" />
						</div>
						<div class="form-group">
							<label for="cname" class="control-label">姓名</label>
							<select id="cname" name="cname" class="form-control " style="width: 100%;">
							</select>
						</div>
						<div class="form-group">
							<label for="area">所属校区</label>
							<select id="area" name="area" class="form-control" value="{$user.area}">
								<option>{$user.area}</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="addbtn" disabled="disabled" type="button" class="btn btn-primary">确认</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		/*checkbox*/
		$(".chklist").labelauty("chklist", "check");
		var addname=[<foreach name="addstaff" item="vo">"{$vo.cname}",</foreach>null];
		var removename = [<foreach name="removestaff" item="vo">"{$vo.uname}",</foreach>null];
		$("#addsch").click(function(){
			$("#type").empty().val("add");
			var html = '<option selected="selected">请选择</option>';
			addname.forEach(function(name){
				if(name!==null){
					html+='<option>'+name+'</option>'
				}
			});
			$("#cname").empty().append(html);
		});
		$("#removesch").click(function(){
			$("#type").empty().val("remove");
			var html = '<option selected="selected">请选择</option>';
			removename.forEach(function(name){
				if(name!==null){
					html+='<option>'+name+'</option>'
				}
			});
			$("#cname").empty().append(html);
		});
		$("#cname").change(function(){
			if($("#cname").val()!=='请选择'){
				$("#addbtn").removeAttr("disabled");
			}else{
				$("#addbtn").attr("disabled","disabled");
			}
		});
		$("#addbtn").click(function() {
			var $btn = $(this).button('adding');
			$.post("<php>echo U('Boss/SetPeople/scheduleuser')</php>",$("#addform").serialize(),
					function(data) {
						$btn.button('reset');
						if (data == true) {
							alert("添加成功");
							location.reload();
						} else {
							alert(data);
						}
					});
		});
		var tbl = document.getElementById("schtable");
		var loading = '<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>';
		for(var i=0;i<tbl.rows.length;i++){
			for(var j=1;j<tbl.rows[i].cells.length;j++){
				tbl.rows[i].cells[j].onclick = (function(x, y){
					var ix = i;
					var iy = j;
					return function(){
						$(".box").append(loading);
						$.post("<php>echo U('Boss/SetPeople/schedulechange')</php>",
								{
									uname: tbl.rows[ix].cells[0].innerHTML,
									area: '{$user.area}',
									type: iy
								},
								function(data) {
									$("div").remove(".overlay");
									if (data == true) {
//										alert("添加成功");
									} else {
										alert(data);
										location.reload();
									}
								});
					};
				})(i, j);
			}
		}
	</script>
</block>