<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
	<li id="doindex" class="treeview">
		<a href="<php>echo U('Home/User/index')</php>">
			<i class="fa fa-dashboard"></i><span>个人首页</span>
		</a>
	</li>
	<li id="doservice" class="treeview">
		<a href="<php>echo U('Home/User/service')</php>">
			<i class="fa fa-list"></i>
			<span>查看个人历史服务单</span>
		</a>
	</li>
	<li id="doapply" class="treeview">
		<a href="<php>echo U('Home/User/apply')</php>">
			<i class="fa fa-users"></i>
			<span>申请兼职</span>
		</a>
	</li>
	<li id="domessage" class="treeview">
		<a href="<php>echo U('Home/User/suggest')</php>">
			<i class="fa fa-comment"></i>
			<span>建议反馈</span>
		</a>
	</li>
</ul>
<!-- jQuery 2.1.4 -->
<js href="__PUBLIC__/AdminLTE2/plugins/jQuery/jQuery-2.1.4.min.js" />
<script type="text/javascript">
    $("#{$id1}").addClass("active");
    $("#{$id2}").addClass("active");
</script>