<!-- Messages: style can be found in dropdown.less-->
<li class="dropdown messages-menu">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-envelope-o"></i>
		<span class="label label-success">4</span>
	</a>
	<ul class="dropdown-menu">
		<li class="header">4条消息</li>
		<li>
			<!-- inner menu: contains the actual data -->
			<ul class="menu">
				<li>
					<!-- start message -->
					<a href="#">
						<div class="pull-left">
							<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="img-circle" alt="User Image">
						</div>
						<h4>
				胡洋
				<small><i class="fa fa-clock-o"></i> 5 分钟</small>
			  </h4>
						<p>记得备份数据库</p>
					</a>
				</li>
				<!-- end message -->
				<li>
					<a href="#">
						<div class="pull-left">
							<img src="__PUBLIC__/AdminLTE2/dist/img/tang.png" class="img-circle" alt="User Image">
						</div>
						<h4>
				唐嫣
				<small><i class="fa fa-clock-o"></i> 2 小时</small>
			  </h4>
						<p>能不能提高我的权限？</p>
					</a>
				</li>

				<li>
					<a href="#">
						<div class="pull-left">
							<img src="__PUBLIC__/AdminLTE2/dist/img/zhou.jpg" class="img-circle" alt="User Image">
						</div>
						<h4>
				周杰伦
				<small><i class="fa fa-clock-o"></i> 昨天</small>
			  </h4>
						<p>哎呦，不错哟！</p>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="pull-left">
							<img src="__PUBLIC__/AdminLTE2/dist/img/hu.jpg" class="img-circle" alt="User Image">
						</div>
						<h4>
				胡歌
				<small><i class="fa fa-clock-o"></i> 2 天</small>
			  </h4>
						<p>策马迎风，看人生起伏。啸歌书景，笑天地荒老。以梦为马，驰骋流年。</p>
					</a>
				</li>
			</ul>
		</li>
		<li class="footer"><a href="#">查看所有消息</a></li>
	</ul>
</li>