<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="user-image" alt="User Image">
		<span class="hidden-xs">胡洋</span>
	</a>
	<ul class="dropdown-menu">
		<!-- User image -->
		<li class="user-header">
			<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="img-circle" alt="User Image">

			<p>
				胡洋 - 后台管理员
				<small>注册于2015.11.08</small>
			</p>
		</li>
		<!-- Menu Footer-->
		<li class="user-footer">
			<div class="pull-left">
				<a href="#" class="btn btn-default btn-flat">个人设置</a>
			</div>
			<div class="pull-right">
				<a href="<php>echo U('Admin/Login/logout')</php>" class="btn btn-default btn-flat">退出</a>
			</div>
		</li>
	</ul>
</li>