<extend name="base" />
<block name="title">
	<title>Network Service 管理</title>
</block>

<block name="quick-information">
	<!-- Messages: style can be found in dropdown.less-->
	<li class="dropdown messages-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-envelope-o"></i>
			<span class="label label-success">4</span>
		</a>
		<ul class="dropdown-menu">
			<li class="header">4条消息</li>
			<li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu">
					<li>
						<!-- start message -->
						<a href="#">
							<div class="pull-left">
								<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="img-circle" alt="User Image">
							</div>
							<h4>
				胡洋
				<small><i class="fa fa-clock-o"></i> 5 分钟</small>
			  </h4>
							<p>记得备份数据库</p>
						</a>
					</li>
					<!-- end message -->
					<li>
						<a href="#">
							<div class="pull-left">
								<img src="__PUBLIC__/AdminLTE2/dist/img/tang.png" class="img-circle" alt="User Image">
							</div>
							<h4>
				唐嫣
				<small><i class="fa fa-clock-o"></i> 2 小时</small>
			  </h4>
							<p>能不能提高我的权限？</p>
						</a>
					</li>

					<li>
						<a href="#">
							<div class="pull-left">
								<img src="__PUBLIC__/AdminLTE2/dist/img/zhou.jpg" class="img-circle" alt="User Image">
							</div>
							<h4>
				周杰伦
				<small><i class="fa fa-clock-o"></i> 昨天</small>
			  </h4>
							<p>哎呦，不错哟！</p>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pull-left">
								<img src="__PUBLIC__/AdminLTE2/dist/img/hu.jpg" class="img-circle" alt="User Image">
							</div>
							<h4>
				胡歌
				<small><i class="fa fa-clock-o"></i> 2 天</small>
			  </h4>
							<p>策马迎风，看人生起伏。啸歌书景，笑天地荒老。以梦为马，驰骋流年。</p>
						</a>
					</li>
				</ul>
			</li>
			<li class="footer"><a href="#">查看所有消息</a></li>
		</ul>
	</li>

	<!-- Notifications: style can be found in dropdown.less -->
	<li class="dropdown notifications-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-bell-o"></i>
			<span class="label label-warning">2</span>
		</a>
		<ul class="dropdown-menu">
			<li class="header">2条通知</li>
			<li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu">
					<li>
						<a href="#">
							<i class="fa fa-users text-aqua"></i> 今天访问人数达到66人
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-warning text-yellow"></i> 图片缓存已达到1024M，注意清理
						</a>
					</li>
				</ul>
			</li>
			<li class="footer"><a href="#">查看所有通知</a></li>
		</ul>
	</li>

	<!-- Tasks: style can be found in dropdown.less -->
	<li class="dropdown tasks-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-flag-o"></i>
			<span class="label label-danger">2</span>
		</a>
		<ul class="dropdown-menu">
			<li class="header">2个任务</li>
			<li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu">
					<li>
						<!-- Task item -->
						<a href="#">
							<h3>
				备份数据库
				<small class="pull-right">20%</small>
			  </h3>
							<div class="progress xs">
								<div class="progress-bar progress-bar-red" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
									<span class="sr-only">20% </span>
								</div>
							</div>
						</a>
					</li>
					<!-- end task item -->
					<li>
						<!-- Task item -->
						<a href="#">
							<h3>
				清理缓存
				<small class="pull-right">40%</small>
			  </h3>
							<div class="progress xs">
								<div class="progress-bar progress-bar-yellow" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
									<span class="sr-only">40% </span>
								</div>
							</div>
						</a>
					</li>
					<!-- end task item -->
				</ul>
			</li>
			<li class="footer">
				<a href="#">查看所有任务</a>
			</li>
		</ul>
	</li>
	<!-- User Account: style can be found in dropdown.less -->
	<li class="dropdown user user-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="user-image" alt="User Image">
			<span class="hidden-xs">胡洋</span>
		</a>
		<ul class="dropdown-menu">
			<!-- User image -->
			<li class="user-header">
				<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="img-circle" alt="User Image">

				<p>
					胡洋 - 后台管理员
					<small>注册于2015.11.08</small>
				</p>
			</li>
			<!-- Menu Footer-->
			<li class="user-footer">
				<div class="pull-left">
					<a href="#" class="btn btn-default btn-flat">个人设置</a>
				</div>
				<div class="pull-right">
					<a href="#" class="btn btn-default btn-flat">退出</a>
				</div>
			</li>
		</ul>
	</li>
</block>

<block name="navigation">
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>胡洋</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>
	<!-- search form -->
	<form action="#" method="get" class="sidebar-form">
		<div class="input-group">
			<input type="text" name="q" class="form-control" placeholder="搜索...">
			<span class="input-group-btn">
			<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
			</button>
		  </span>
		</div>
	</form>
	<!-- /.search form -->
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu">
		<li class="treeview">
			<a href="<php>echo U('Boss/Index/index')</php>">
				<i class="fa fa-dashboard"></i> <span>首页</span>
			</a>
		</li>
		<li class="header">操作相关</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-fw fa-truck"></i>
				<span>资产管理</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="<php>echo U('Boss/DoAsset/tool')</php>">
						<i class="fa fa-fw fa-wrench"></i>
						<span>工具</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/DoAsset/exhaust')</php>">
						<i class="fa fa-fw fa-recycle"></i>
						<span>耗材</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/DoAsset/device')</php>">
						<span class="fa fa-fw fa-cubes"></span>
						<span>设备</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/DoAsset/paper')</php>">
						<span class="fa fa-fw fa-image"></span>
						<span>证照</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/DoAsset/other')</php>">
						<span class="fa fa-fw fa-arrows"></span>
						<span>其他</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="active treeview">
			<a href="#">
				<i class="fa fa-fw fa-users"></i>
				<span>人事管理</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li class="active">
					<a href="#">
						<i class="fa fa-fw fa-calendar-check-o"></i>
						<span>考勤信息</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/DoPeople/employ')</php>">
						<i class="fa fa-fw fa-newspaper-o"></i>
						<span>招聘信息</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/DoPeople/evaluate')</php>">
						<i class="fa fa-fw fa-sort-numeric-asc"></i>
						<span>绩效评分</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/DoPeople/query')</php>">
						<i class="fa fa-fw fa-line-chart"></i>
						<span>绩效查询</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/DoPeople/staff')</php>">
						<i class="fa fa-fw fa-user"></i>
						<span>员工管理</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-fw fa-hand-o-up"></i>
				<span>服务管理</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="<php>echo U('Boss/DoService/send')</php>">
						<i class="fa fa-fw fa-check-square-o"></i>
						<span>服务派单</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/DoService/query')</php>">
						<i class="fa fa-fw fa-list-ol"></i>
						<span>服务查询</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="header">数据相关</li>
		<li>
			<a href="#">
				<i class="fa fa-fw fa-table"></i> <span>资产报表</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-fw fa-list-alt"></i> <span>服务报表</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-fw fa-user-plus"></i> <span>人事报表</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-fw fa-commenting"></i> <span>反馈报表</span>
			</a>
		</li>
		<li class="header">设置相关</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-fw fa-truck"></i>
				<span>资产设置</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="<php>echo U('Boss/SetAsset/tool')</php>">
						<i class="fa fa-fw fa-wrench"></i>
						<span>工具</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/SetAsset/exhaust')</php>">
						<i class="fa fa-fw fa-recycle"></i>
						<span>耗材</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/SetAsset/device')</php>">
						<span class="fa fa-fw fa-cubes"></span>
						<span>设备</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/SetAsset/paper')</php>">
						<span class="fa fa-fw fa-image"></span>
						<span>证照</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/SetAsset/other')</php>">
						<span class="fa fa-fw fa-arrows"></span>
						<span>其他</span>
					</a>
				</li>
				<li>
					<a href="<php>echo U('Boss/SetAsset/overall')</php>">
						<span class="fa fa-fw fa-circle-o"></span>
						<span>全局字段</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-fw fa-users"></i>
				<span>人事设置</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#">
						<i class="fa fa-fw fa-calendar-check-o"></i>
						<span>考勤设置</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-sort-numeric-asc"></i>
						<span>绩效设置</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-user"></i>
						<span>员工设置</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-calendar-plus-o"></i>
						<span>排班设置</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-fw fa-area-chart"></i>
				<span>报表设置</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#">
						<i class="fa fa-fw fa-table"></i>
						<span>资产</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-list-alt"></i>
						<span>服务</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-fw fa-user-plus"></span>
						<span>人事</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</block>

<block name="content-header">
	<h1>
	人事管理
	<small><i class="fa fa-fw fa-calendar-check-o"></i>考勤信息</small>
  </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li>人事管理</li>
		<li class="active">考勤信息</li>
	</ol>
</block>

<block name="content">
	<div class="row">
		<div class="col-md-3">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h4 class="box-title">维护岗位</h4>
				</div>
				<div class="box-body">
					<!-- the events -->
					<div id="external-events">
						<div class="external-event bg-green">陈登洲</div>
						<div class="external-event bg-green">朱文鹏</div>
						<div class="external-event bg-green">杨康</div>
						<div class="external-event bg-green">李鹏程</div>
						<div class="external-event bg-green">姜维</div>
						<div class="external-event bg-green">成晓奇</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /. box -->
		</div>
		<!-- /.col -->
		<div class="col-md-9">
			<div class="box box-primary">
				<div class="box-body no-padding">
					<!-- THE CALENDAR -->
					<div id="calendar"></div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /. box -->
		</div>
		<!-- /.col -->
	</div>
</block>

<block name="script">
	<!-- fullCalendar 2.4.0 -->
	<js href="__PUBLIC__/AdminLTE2/plugins/fullcalendar/fullcalendar.min.js" />
	<js href="__PUBLIC__/AdminLTE2/plugins/fullcalendar/lang-all.js" />
	<script>
		/* initialize the external events
		-----------------------------------------------------------------*/
		$('#external-events .external-event').each(function() {
			// store data so the calendar knows to render an event upon drop
			var eventObject = $(this).data('event', {
				title: $.trim($(this).text()), // use the element's text as the event title
				stick: true // maintain when user navigates (see docs on the renderEvent method)
			});
			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true, // will cause the event to go back to its
				revertDuration: 0 //  original position after the drag
			});
		});
		//Date for the calendar events (dummy data)
		var date = new Date();
		var d = date.getDate(),
			m = date.getMonth(),
			y = date.getFullYear();
		/* initialize the calendar
		-----------------------------------------------------------------*/
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek'
			},
			lang: 'zh-cn',
			editable: true,
			droppable: true,
			events: [{
				title: '陈登州',
				start: '2015-11-23',
				backgroundColor: "#00a65a", //red
				borderColor: "#00a65a" //red
			}, {
				title: '李鹏程',
				start: '2015-11-23',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '姜维',
				start: '2015-11-23',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '成晓奇',
				start: '2015-11-23',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '李鹏程',
				start: '2015-11-20',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '姜维',
				start: '2015-11-20',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '杨康',
				start: '2015-11-19',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '成晓奇',
				start: '2015-11-19',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '杨康',
				start: '2015-11-18',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '朱文鹏',
				start: '2015-11-18',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '李鹏程',
				start: '2015-11-18',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '成晓奇',
				start: '2015-11-18',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '朱文鹏',
				start: '2015-11-17',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '姜维',
				start: '2015-11-17',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '李鹏程',
				start: '2015-11-16',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '姜维',
				start: '2015-11-16',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, {
				title: '成晓奇',
				start: '2015-11-16',
				backgroundColor: "#3a87ad", //red
				borderColor: "#3a87ad" //red
			}, ]
		});
	</script>
</block>