<extend name="base_bt" />
<block name="title"><title>西北大学网络服务--申请兼职</title></block>
<block name="topmenu">
  <li><a href="<php>echo U('index')</php>">首页 </a></li>
  <li><a href="<php>echo U('download')</php>">下载中心 </a></li>
  <li class="active"><a href="#">申请兼职 <span class="sr-only">(current)</span></a></li>
  <li><a href="<php>echo U('service')</php>">服务反馈 </a></li>  
  <li><a href="<php>echo U('staff')</php>">员工风采 </a></li>
</block>
<block name="docs">
  <h1>申请兼职</h1>
  <p class="lead">只要你对网络感兴趣，就可以加入我们</p>
  <p class="lead">
     <a href="#" class="btn btn-outline-inverse btn-lg">爱心服务</a>
     <a href="#" class="btn btn-outline-inverse btn-lg">申请兼职</a>
	 <a href="#" class="btn btn-outline-inverse btn-lg">申请助管</a>
  </p>
  <p class="version">当前访问量： 666</p>
</block>
<block name="content">
  
</block>