<extend name="base_bt" />
<block name="title"><title>西北大学网络服务--下载中心</title></block>
<block name="topmenu">
  <li><a href="<php>echo U('index')</php>">首页 </a></li>
  <li class="active"><a href="#">下载中心 <span class="sr-only">(current)</span></a></a></li>
  <!--<li><a href="<php>echo U('apply')</php>">申请兼职 </a></li>-->
  <li><a href="<php>echo U('service')</php>">服务反馈 </a></li>
  <li><a href="<php>echo U('staff')</php>">员工风采 </a></li>
</block>
<block name="docs">
  <h1>下载中心</h1>
  <p class="lead">如果我们这里没有您要下载的东西，请在服务反馈中向我们反馈</p>
  <p class="lead">
	 <a href="#problem" class="btn btn-outline-inverse btn-lg">解决故障</a>
	 <a href="#study" class="btn btn-outline-inverse btn-lg">网络学习资料</a>
	 <a href="#drive" class="btn btn-outline-inverse btn-lg">驱动下载</a>
  </p>
  <p class="version">当前访问量： 666</p>
</block>
<block name="content">
  
  <div class="row"><!-- 解决故障 -->
    <div class="col-sm-offset-2 col-md-8 pad">
          <div class="box box-success" id="problem">
            <div class="box-header with-border">
              <h3 class="box-title">解决故障</h3>
			  <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div><!-- box-tools -->
            </div><!-- box-header -->
            <div class="box-body no-padding">
              <ul class="nav nav-stacked">
                <li><a href="Public/Files/Home/V2.0.1.pdf">维护岗位常见问题及解决办法汇总2.0.1.pdf <span class="badge pull-right bg-blue">{$files.0.size}</span> </a></li>
                <li><a href="Public/Files/Home/StudentNetwork.pdf">学生区校园网模型.pdf <span class="badge pull-right bg-blue">{$files.1.size}</span> </a></li>
                <li><a href="Public/Files/Home/Apple.pdf">苹果电脑联网设置.pdf <span class="badge pull-right bg-blue">{$files.2.size}</span> </a></li>
              </ul>
            </div><!-- box-body -->
          </div><!-- box -->
        </div><!-- col-md-12 -->
  </div><!-- row -->
  
  <div class="row"><!-- 网络学习资料 -->
    <div class="col-sm-offset-2 col-md-8">
          <div class="box box-success" id="study">
            <div class="box-header with-border">
              <h3 class="box-title">网络学习资料</h3>
			  <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div><!-- box-tools -->
            </div><!-- box-header -->
            <div class="box-body no-padding">
              <ul class="nav nav-stacked">
                <li><a href="Public/Files/Home/Wiring.pdf">综合布线.pdf <span class="badge pull-right bg-blue">{$files.3.size}</span> </a></li>
                <li><a href="Public/Files/Home/VLAN_study.pdf">VLAN学习资料.pdf <span class="badge pull-right bg-blue">{$files.4.size}</span> </a></li>
                <li><a href="Public/Files/Home/Windows_console.pdf">Windows下常用的网络命令.pdf <span class="badge pull-right bg-blue">{$files.5.size}</span> </a></li>
                <li><a href="Public/Files/Home/Network_exchange.pdf">网络交换技术.pdf <span class="badge pull-right bg-blue">{$files.5.size}</span> </a></li>
              </ul>
            </div><!-- box-body -->
          </div><!-- box -->
        </div><!-- col-md-12 -->
  </div><!-- row -->
  
  <div class="row"><!-- 驱动下载 -->
    <div class="col-sm-offset-2 col-md-8">
          <div class="box box-success" id="drive">
            <div class="box-header with-border">
              <h3 class="box-title">驱动下载</h3>
			  <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div><!-- box-tools -->
            </div><!-- box-header -->
            <div class="box-body no-padding">
              <ul class="nav nav-stacked">
                <li><a href="Public/Files/Home/DG2015Setup_1197E.exe">驱动精灵万能网卡版.exe <span class="badge pull-right bg-blue">{$files.7.size}</span> </a></li>
                <li><a href="Public/Files/Home/USB_DB9.exe">USB转串口驱动.exe <span class="badge pull-right bg-blue">{$files.8.size}</span> </a></li>
              </ul>
            </div><!-- box-body -->
          </div><!-- box -->
        </div><!-- col-md-12 -->
  </div><!-- row -->
</block>