<extend name="base_bt" />
<block name="title"><title>西北大学网络服务--下载中心</title></block>
<block name="topmenu">
  <li><a href="<php>echo U('index')</php>">首页 </a></li>
  <li class="active"><a href="#">下载中心 <span class="sr-only">(current)</span></a></a></li>
  <li><a href="<php>echo U('apply')</php>">申请兼职 </a></li>
  <li><a href="<php>echo U('service')</php>">服务反馈 </a></li>
  <li><a href="<php>echo U('staff')</php>">员工风采 </a></li>
</block>
<block name="docs">
  <h1>下载中心</h1>
  <p class="lead">如果我们这里没有您要下载的东西，请在服务反馈中向我们反馈</p>
  <p class="lead">
	 <a href="#problem" class="btn btn-outline-inverse btn-lg">解决故障</a>
	 <a href="#study" class="btn btn-outline-inverse btn-lg">网络学习资料</a>
	 <a href="#drive" class="btn btn-outline-inverse btn-lg">驱动下载</a>
  </p>
  <p class="version">当前访问量： 666</p>
</block>
<block name="content">
  
  <div class="row"><!-- 解决故障 -->
    <div class="col-md-12">
          <div class="box box-success" id="problem">
            <div class="box-header with-border">
              <h3 class="box-title">解决故障</h3>
			  <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div><!-- box-tools -->
            </div><!-- box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
				  <tr>
                    <th style="width: 40px">#</th>
                    <th>名称</th>
                    <th>下载量</th>
                    <th>百分比</th>
                  </tr>
				</thead>
				<tbody>
                <tr>
                  <td>1</td>
                  <td><a href="#">西北大学校园网接入服务业务维修岗位常见问题及解决办法汇总.doc </a></td>
                  <td>
                    300
                  </td>
                  <td><span class="badge bg-yellow">53%</span></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">校园网模型.doc </a></td>
                  <td>
                    200
                  </td>
                  <td><span class="badge bg-blue">35%</span></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="#">苹果电脑联网设置.doc </a></td>
                  <td>
                    66
                  </td>
                  <td><span class="badge bg-green">12%</span></td>
                </tr>
              </tbody></table>
            </div><!-- box-body -->
          </div><!-- box -->
        </div><!-- col-md-12 -->
  </div><!-- row -->
  
  <div class="row"><!-- 网络学习资料 -->
    <div class="col-md-12">
          <div class="box box-success" id="study">
            <div class="box-header with-border">
              <h3 class="box-title">网络学习资料</h3>
			  <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div><!-- box-tools -->
            </div><!-- box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
				  <tr>
                    <th style="width: 40px">#</th>
                    <th>名称</th>
                    <th>下载量</th>
                    <th>百分比</th>
                  </tr>
				</thead>
				<tbody>
                <tr>
                  <td>1</td>
                  <td><a href="#">综合布线.ppt </a></td>
                  <td>
                    35
                  </td>
                  <td><span class="badge bg-yellow">28%</span></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">Vlan学习.doc </a></td>
                  <td>
                    50
                  </td>
                  <td><span class="badge bg-blue">40%</span></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="#">Windows下网络命令.ppt </a></td>
                  <td>
                    30
                  </td>
                  <td><span class="badge bg-green">24%</span></td>
                </tr>
				<tr>
                  <td>4</td>
                  <td><a href="#">Linux下网络命令.ppt </a></td>
                  <td>
                    10
                  </td>
                  <td><span class="badge bg-aqua">8%</span></td>
                </tr>
              </tbody></table>
            </div><!-- box-body -->
          </div><!-- box -->
        </div><!-- col-md-12 -->
  </div><!-- row -->
  
  <div class="row"><!-- 驱动下载 -->
    <div class="col-md-12">
          <div class="box box-success" id="drive">
            <div class="box-header with-border">
              <h3 class="box-title">驱动下载</h3>
			  <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div><!-- box-tools -->
            </div><!-- box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped" style="margin-left:0px;">
                <thead>
				  <tr>
                    <th style="width: 40px">#</th>
                    <th>名称</th>
                    <th>下载量</th>
                    <th>百分比</th>
                  </tr>
				</thead>
				<tbody>
                <tr>
                  <td>1</td>
                  <td><a href="#">驱动精灵万能网卡版.exe </a></td>
                  <td>
                    999
                  </td>
                  <td><span class="badge bg-yellow">99%</span></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">驱动精灵网络版.zip </a></td>
                  <td>
                    6
                  </td>
                  <td><span class="badge bg-blue">1%</span></td>
                </tr>
              </tbody></table>
            </div><!-- box-body -->
          </div><!-- box -->
        </div><!-- col-md-12 -->
  </div><!-- row -->
</block>