<extend name="base_bt" />
<block name="title"><title>西北大学网络服务--服务反馈</title></block>
<block name="topmenu">
  <li><a href="<php>echo U('index')</php>">首页 </a></li>
  <li><a href="<php>echo U('download')</php>">下载中心 </a></li>
  <li><a href="<php>echo U('apply')</php>">申请兼职 </a></li>
  <li class="active"><a href="#">服务反馈 <span class="sr-only">(current)</span></a></li>
  <li><a href="<php>echo U('staff')</php>">员工风采 </a></li>
</block>
<block name="docs">
  <h1>服务反馈</h1>
  <p class="lead">对网络中心有什么建议或意见都可以在这里进行反馈</p>
  <p class="lead">
	 <a href="#feedbackedit_form" class="btn btn-outline-inverse btn-lg">填写</a>
  </p>
  <p class="version">当前访问量： 666</p>
</block>
<block name="content">
	<div class="row" id="feedbackedit_form">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="box-body">
				<form id="addform">
					<label>姓名</label>
					<div class="form-group">
						<input class="form-control" id="uname" placeholder="输入姓名" />
					</div>
					<label>学号</label>
					<div class="form-group">
						<input class="form-control" id="student_no" placeholder="输入学号" />
					</div>
					<label>意见或建议</label>
					<div class="form-group">
						<textarea class="form-control" id="feedback" placeholder="从这里开始输入"></textarea>
					</div>

				</form>
				<div class="form-group">
					<button type="submit" id="addbtn" class="btn btn-outline btn-lg">提交反馈</button>
				</div>
			</div>
			<!-- box-body -->
		</div>
		<!-- box -->
	</div>

</block>

<block name="script">
	  <script type="text/javascript">						
			/*表单验证*/
			$("#addbtn").click(function() {
				var $btn = $(this).button('loading');
					$.post("<php>echo U('Home/Index/feedbackadd')</php>",{
					            uname: $("#uname")[0].value,
                      student_no: $("#student_no")[0].value,
                      feedback: $("#feedback")[0].value
                  },
					        function(data) {
					            $btn.button('reset');
					      	    if (data == true) {
							            $this -> ajaxReturn('反馈提交成功！');
					          	} else {
						            	alert("提交失败");					            	
						          }
						          location.reload();
					       });
				   }
			});
		</script>		
</block>