<extend name="base_bt" />
<block name="title"><title>西北大学网络服务--员工风采</title></block>
<block name="topmenu">
  <li><a href="<php>echo U('index')</php>">首页 </a></li>
  <li><a href="<php>echo U('download')</php>">下载中心 </a></li>
  <!--<li><a href="<php>echo U('apply')</php>">申请兼职 </a></li>-->
  <li><a href="<php>echo U('service')</php>">服务反馈 </a></li>
  <li class="active"><a href="#">员工风采 <span class="sr-only">(current)</span></a></li>
</block>
<block name="docs">
  <h1>员工风采</h1>
  <p class="lead">网络中心全体人员为您服务</p>
  <p class="lead">
	 <a href="#changan" class="btn btn-outline-inverse btn-lg">长安校区</a>
	 <a href="#taibai" class="btn btn-outline-inverse btn-lg">太白校区</a>
	 <a href="#taoyuan" class="btn btn-outline-inverse btn-lg">桃园校区</a>
  </p>
  <p class="version">当前访问量： 666</p>
</block>
<block name="content">
	<div class="row">
		<div class="col-md-12 pad">
			<!-- USERS LIST -->
			<div class="box box-success" id="changan">
				<div class="box-header ">
					<h3 class="box-title">长安校区</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<ul class="users-list clearfix" style="float:left">
						<foreach name="changan" item="vo">
							<li>
								<img src="__PUBLIC__{$vo.img}" alt="{$vo.cname}">
								<a class="users-list-name" href="#">{$vo.cname}</a>
								<span class="users-list-date">{$vo.job}</span>
							</li>
						</foreach>
					</ul>
					<!-- /.users-list -->
				</div>
				<!-- /.box-body -->
			</div>
			<!--/.box -->
			<!-- USERS LIST -->
			<div class="box box-success" id="taibai">
				<div class="box-header ">
					<h3 class="box-title">太白校区</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<ul class="users-list clearfix">
						<foreach name="taibai" item="vo">
							<li>
								<img src="__PUBLIC__{$vo.img}" alt="{$vo.cname}">
								<a class="users-list-name" href="#">{$vo.cname}</a>
								<span class="users-list-date">{$vo.job}</span>
							</li>
						</foreach>
					</ul>
					<!-- /.users-list -->
				</div>
				<!-- /.box-body -->
			</div>
			<!--/.box -->
			<!-- USERS LIST -->
			<div class="box box-success" id="taoyuan">
				<div class="box-header ">
					<h3 class="box-title">桃园校区</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<ul class="users-list clearfix">
						<foreach name="taoyuan" item="vo">
							<li>
								<img src="__PUBLIC__{$vo.img}" alt="{$vo.cname}">
								<a class="users-list-name" href="#">{$vo.cname}</a>
								<span class="users-list-date">{$vo.job}</span>
							</li>
						</foreach>
					</ul>
					<!-- /.users-list -->
				</div>
				<!-- /.box-body -->
			</div>
			<!--/.box -->
		</div>
	</div>
</block>