<extend name="base" />
<block name="title">
	<title>Network Service 后台管理</title>
</block>

<block name="quick-information">
	{:W('QuickInfo/message')}
	{:W('QuickInfo/notice')}
	{:W('QuickInfo/task')}
	{:W('QuickInfo/self')}
</block>

<block name="navigation">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>{$user.uname}</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('null','null'))}
	<!--menu widget-->
</block>

<block name="content-header">
	<h1>个人设置
		<small><i class="fa fa-fw fa-user"></i></small>
      </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li class="active">个人设置</li>
	</ol>
</block>

<block name="content">
	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div class="col-md-6">
			<div class="box box-widget widget-user">
				<!-- Add the bg color to the header using any of the bg-* classes -->
				<div class="widget-user-header bg-green">
					<h3 class="widget-user-username">姓名：{$user.cname}</h3>
					<!--<h5 class="widget-user-desc" id="userid">用户名: {$user.uname}</h5>-->
				</div>
				<div class="widget-user-image">
					<img class="img-circle" src="__PUBLIC__{$user.img}" alt="{user.$uname}">
				</div>
				<div class="box-footer">
					<div class="row">
						<div class="form-group margin">
							<label for="uname">用户名(登陆使用)</label>
							<input type="text" class="form-control" id="uname" value="{$user.uname}">
						</div>
						<div class="form-group margin">
							<label for="password">密码</label>
							<input type="password" class="form-control" id="password" placeholder="密码">
						</div>
						<div class="form-group margin">
							<label for="repassword">确认密码</label>
							<input type="password" class="form-control" id="repassword" placeholder="确认密码">
						</div>
						<div class="form-group margin">
							<label for="number">学号</label>
							<input type="text" class="form-control" id="number" placeholder="学号" value="{$user.number}">
						</div>
						<div class="form-group margin">
							<label for="address">宿舍号</label>
							<input type="text" class="form-control" id="address" placeholder="宿舍号" value="{$user.address}">
						</div>
						<div class="form-group margin">
							<label for="phone">手机号</label>
							<input type="text" class="form-control" id="phone" placeholder="手机号" value="{$user.phone}">
						</div>
						<div class="form-group margin">
							<label for="yuanxi">院系</label>
							<input type="text" class="form-control" id="yuanxi" placeholder="院系" value="{$user.yuanxi}">
						</div>
						<div class="form-group margin">
							<label for="zhuanye">专业</label>
							<input type="text" class="form-control" id="zhuanye" placeholder="专业" value="{$user.zhuanye}">
						</div>
						<div class="form-group margin">
							<label for="area">所属校区</label>
							<select id="area" name="area" class="form-control">
								<foreach name="userarea" item="vo">
									<option>{$vo.area}</option>
								</foreach>
							</select>
						</div>
						<button id="editbtn" class="btn btn-primary margin">修改</button>
					</div>
					<!-- /.row -->
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-header">
					<h3 class="box-title">个人头像</h3>
					<i class="fa fa-fw fa-photo"></i>
					<label class="btn btn-primary btn-sm btn-upload" for="inputImage" title="Upload image file">
						<form id="imageform" action="__URL__-upload" enctype="multipart/form-data" method="post">
							<input type="file" class="sr-only" id="inputImage" name="photo" accept="image/*" />
							<input type="text" class="sr-only" id="fname" name="fname" value="staff{$user.id}" />
							<input type="text" class="sr-only" id="user_id" name="user_id" value="{$user.id}" />
						</form>
						<span class="fa fa-upload"> 上传</span>
					</label>
					<div class="box-tools">
						<span class="label label-primary">修改个人头像</span>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<div class="col-md-8">
						<img class="img-responsive" id="userimg" src="__PUBLIC__{$user.img}" alt="user picture">
					</div>
					<div class="col-xs-6 col-md-4">
						<div class="preview"></div>
						<br />
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="preview"></div>
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<input type="text" class="sr-only" id="dataX" name="dataX" />
					<input type="text" class="sr-only" id="dataY" name="dataY" />
					<input type="text" class="sr-only" id="dataW" name="dataW" />
					<input type="text" class="sr-only" id="dataH" name="dataH" />
					<input type="text" class="sr-only" id="path" name="dataH" value="{$user.img}"/>
					<a class="btn btn-primary" id="saveImage">保存头像</a>
				</div>
			</div>
		</div>
	</div>
	<!-- row -->
</block>

<block name="script">
	<script type="text/javascript">
		$("#area").val('{$user.area}');
		/*
		 * 选择图片
		 * */
		var $image = $('#userimg');
		$inputImage = $('#inputImage');
		var URL = window.URL || window.webkitURL;
		var blobURL;
		if (URL) {
			$inputImage.change(function() {
				$("#imageform").submit();
			});
		} else {
			$inputImage.prop('disabled', true).parent().addClass('disabled');
		}
		/*
		 * 图片裁剪控件加载
		 * */
		var $previews = $('.preview');
		$image.cropper({
			build: function(e) {
				var $clone = $(this).clone();
				$clone.css({
					display: 'block',
					width: '100%',
					minWidth: 0,
					minHeight: 0,
					maxWidth: 'none',
					maxHeight: 'none'
				});
				$previews.css({
					width: '100%',
					overflow: 'hidden'
				}).html($clone);
			},
			crop: function(e) {
				$("#dataX").val(Math.round(e.x));
          		$("#dataY").val(Math.round(e.y));
          		$("#dataH").val(Math.round(e.height));
          		$("#dataW").val(Math.round(e.width));
				var imageData = $(this).cropper('getImageData');
				var previewAspectRatio = e.width / e.height;
				$previews.each(function() {
					var $preview = $(this);
					var previewWidth = $preview.width();
					var previewHeight = previewWidth / previewAspectRatio;
					var imageScaledRatio = e.width / previewWidth;
					$preview.height(previewHeight).find('img').css({
						width: imageData.naturalWidth / imageScaledRatio,
						height: imageData.naturalHeight / imageScaledRatio,
						marginLeft: -e.x / imageScaledRatio,
						marginTop: -e.y / imageScaledRatio
					});
				});
			},
			aspectRatio: 1,
			viewMode: 1,
		});
		/**
		 * 保存图片
		 */
		$("#saveImage").click(function(){
        	var loading = '<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>';
			$(".box").append(loading);
			$.post("<php>echo U('Staff/Self/save')</php>",{
				imgX : $("#dataX")[0].value,
				imgY : $("#dataY")[0].value,
				imgW : $("#dataW")[0].value,
				imgH : $("#dataH")[0].value,
				path : $("#path")[0].value
				},
				function(data) {
					$("div").remove(".overlay");
					if (data == true) {
						//alert("修改成功");
					} else {
						alert(data);
					}
					location.reload();
				});
        });
		/**
		 * 确认密码
		 * */
		$("#repassword,#password").keyup(function() {
			if ($("#repassword")[0].value != $("#password")[0].value) {
				$("#repassword").parent().addClass("has-error");
				$("#editbtn").attr("disabled", "disabled");
			} else {
				$("#repassword").parent().removeClass("has-error");
				$("#editbtn").removeAttr("disabled");
			}
		});
		/*
		 * 修改用户
		 * */
		$("#editbtn").click(function() {
			var $btn = $(this).button('loading');
			$.post("<php>echo U('Boss/Self/edit')</php>", {
						id: '{$user.id}',
						user_id:'{$user.user_id}',
						uname: $("#uname")[0].value,
						password: $("#password")[0].value,
						repassword: $("#repassword")[0].value,
						number: $("#number")[0].value,
						address: $("#address")[0].value,
						yuanxi: $("#yuanxi")[0].value,
						zhuanye: $("#zhuanye")[0].value,
						area : $("#area")[0].value
					},
					function(data) {
						$btn.button('reset');
						if (data == true) {
							alert("修改成功");
						} else {
							alert(data);
						}
					});
		});
	</script>
</block>