<extend name="base" />
<block name="title">
    <title>Network Service 管理</title>
</block>

<block name="quick-information">
    {:W('QuickInfo/message')}
    {:W('QuickInfo/notice')}
    {:W('QuickInfo/task')}
    {:W('QuickInfo/self')}
</block>

<block name="navigation">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{$user.uname}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
        </div>
    </div>

    <!--search widget-->
    {:W('Search/index')}
    <!-- search widget -->

    <!--menu widget-->
    {:W('Menu/index',array('setasset','settool'))}
    <!--menu widget-->

</block>

<block name="content-header">
    <h1>
        资产设置
        <small><span class="fa fa-fw fa-wrench"></span>耗材</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
        <li>资产设置</li>
        <li class="active">耗材</li>
    </ol>
</block>

<block name="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-fw fa-users"></i>
                    <h3 class="box-title">耗材选项设置</h3>&ensp;
                    <button class="btn btn-sm btn-default" id="openset" data-toggle="modal" data-target="#setmodal">
                        <i class="fa fa-plus">添加</i>
                    </button>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="exhaustselect" class="table table-hover">
                        <thead>
                        <th class="sr-only"></th>
                        <th>名称</th>
                        <th>品牌</th>
                        <th>型号</th>
                        </thead>
                        <tbody>
                        <volist name="exhaustselect" id="vo">
                            <tr>
                                <td class="sr-only">{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.brand}</td>
                                <td>{$vo.model}</td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
                <!-- box-body -->
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-fw fa-users"></i>
                    <h3 class="box-title">耗材状态设置</h3>&ensp;
                    <button class="btn btn-sm btn-default" id="openstate" data-toggle="modal" data-target="#statemodal">
                        <i class="fa fa-plus">添加</i>
                    </button>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="exhauststate" class="table table-hover">
                        <thead>
                        <th>ID</th>
                        <th></th>
                        <th>名称</th>
                        <th>描述</th>
                        <th class="sr-only"></th>
                        <th>status</th>
                        </thead>
                        <tbody>
                        <volist name="exhauststate" id="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td><i class="fa fa-shopping-cart"></i></td>
                                <td>{$vo.name}</td>
                                <td>{$vo.label}</td>
                                <td class="sr-only">{$vo.status}</td>
                                <td>
                                    <if condition="$vo['status'] eq 1">
                                        <span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span>
                                        <else/> <span class="badge bg-red"><i class="fa fa-fw fa-close"></i></span>
                                    </if>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
                <!-- box-body -->
            </div>
        </div>
    </div>
</block>

<block name="script">
    <!-- set Modal -->
    <div class="modal fade" id="setmodal" tabindex="-1" role="dialog" aria-labelledby="addlabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">添加耗材选项</h4>
                </div>
                <div class="modal-body">
                    <form id="addform">
                        <div class="form-group sr-only">
                            <label for="id" class="control-label">ID</label>
                            <input type="text" class="form-control" id="id" name="id" />
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">名称</label>
                            <input type="text" class="form-control" id="name" name="name" />
                        </div>
                        <div class="form-group">
                            <label for="brand" class="control-label">品牌</label>
                            <input type="text" class="form-control" id="brand" name="brand" />
                        </div>
                        <div class="form-group">
                            <label for="model" class="control-label">型号</label>
                            <input type="text" class="form-control" id="model" name="model" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="addbtn" disabled="disabled" type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!-- state Modal -->
    <div class="modal fade" id="statemodal" tabindex="-1" role="dialog" aria-labelledby="addlabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">添加耗材状态</h4>
                </div>
                <div class="modal-body">
                    <form id="stateform">
                        <div class="form-group sr-only">
                            <label for="sid" class="control-label">ID</label>
                            <input type="text" class="form-control" id="sid" name="sid" />
                        </div>
                        <div class="form-group">
                            <label for="sname" class="control-label">名称</label>
                            <input type="text" class="form-control" id="sname" name="sname" />
                        </div>
                        <div class="form-group">
                            <label for="slabel" class="control-label">Label</label>
                            <input type="text" class="form-control" id="slabel" name="slabel" />
                        </div>
                    </form>
                </div>
                <div id="statefooter" class="modal-footer">
                    <button id="stateflip" class="btn btn-danger">禁用</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="addstate" disabled="disabled" type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        /**
         * 添加时清空数据
         * */
        $("#openset").click(function () {
            $("#id,#name,#brand,#model").val('');
        });
        $("#openstate").click(function () {
            $("#sid,#sname,#slabel").val('');
            $("#stateflip").addClass("sr-only");
        });
        /*
         * 判断名称品牌型号是否为空
         * */
        $("#name,#brand,#model").keyup(function(){
            if($(this)[0].value == ''){
                $(this).parent().addClass("has-error");
                $("#addbtn").attr("disabled","disabled");
            }else{
                $(this).parent().removeClass("has-error");
            }
            if($("#name")[0].value!=''&&$("#brand")[0].value!=''&&$("#model")[0].value!=''){
                $("#addbtn").removeAttr("disabled");
            }
        });
        //资产状态名称、label是否为空
        $("#sname,#slabel").keyup(function(){
            if($(this).val()==''){
                $(this).parent().addClass("has-error");
                $("#addstate").attr("disabled","disabled");
            }else{
                $(this).parent().removeClass("has-error");
            }
            if($("#sname").val()!=''&&$("#slabel").val()!=''){
                $("#addstate").removeAttr("disabled");
            }
        });
        /*
         * 添加工具设置选项
         * */
        $("#addbtn").click(function() {
            var $btn = $(this).button('loading');
            $.post("<php>echo U('Boss/SetAsset/exhaustadd')</php>",
                    $("#addform").serialize(),
                    function(data) {
                        $btn.button('reset');
                        if (data == true) {
                            alert("添加成功");
                        } else {
                            alert(data);
                        }
                        location.reload();
                    });
        });
        /**
         * 修改名称品牌型号
         * */
        $('#exhaustselect tbody').on('click', 'tr', function() {
            $("#id")[0].value = $(this).children().first().html();
            $("#name")[0].value = $(this).children().eq(1).html();
            $("#brand")[0].value = $(this).children().eq(2).html();
            $("#model")[0].value = $(this).children().eq(3).html();
            $('#setmodal').modal('show');
        });
        /*
         * 添加工具状态
         * */
        $("#addstate").click(function() {
            var $btn = $(this).button('loading');
            $.post("<php>echo U('Boss/SetAsset/exhauststate')</php>",{
                id:$("#sid").val(),
                name : $("#sname").val(),
                label : $("#slabel").val(),
                icon : "fa-shopping-cart",
                status : 1
            }, function(data) {
                $btn.button('reset');
                if (data == true) {
                    alert("添加成功");
                } else {
                    alert(data);
                }
                location.reload();
            });
        });
        /**
         * 修改名称品牌型号
         * */
        $('#exhauststate tbody').on('click', 'tr', function() {
            $("#sid")[0].value = $(this).children().first().html();
            $("#sname")[0].value = $(this).children().eq(2).html();
            $("#slabel")[0].value = $(this).children().eq(3).html();
            $("#stateflip").removeClass("sr-only");
            if($(this).children().eq(4).html()=="1"){
                $("#stateflip").empty().append("禁用");
            }else{
                $("#stateflip").empty().append("恢复");
            }
            $('#statemodal').modal('show');
        });
        /**
         * 状态改变
         * */
        $("#stateflip").click(function () {
            var $btn = $(this).button('loading');
            $.post("<php>echo U('Boss/SetAsset/exhauststateflip')</php>",{
                id:$("#sid").val()
            }, function(data) {
                $btn.button('reset');
                if (data == true) {
                    alert("修改成功");
                } else {
                    alert(data);
                }
                location.reload();
            });
        });
    </script>
</block>