<extend name="base" />
<block name="title">
	<title>Network Service 管理</title>
</block>

<block name="quick-information">
	<!-- Messages: style can be found in dropdown.less-->
	<li class="dropdown messages-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-envelope-o"></i>
			<span class="label label-success">4</span>
		</a>
		<ul class="dropdown-menu">
			<li class="header">4条消息</li>
			<li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu">
					<li>
						<!-- start message -->
						<a href="#">
							<div class="pull-left">
								<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="img-circle" alt="User Image">
							</div>
							<h4>
				胡洋
				<small><i class="fa fa-clock-o"></i> 5 分钟</small>
			  </h4>
							<p>记得备份数据库</p>
						</a>
					</li>
					<!-- end message -->
					<li>
						<a href="#">
							<div class="pull-left">
								<img src="__PUBLIC__/AdminLTE2/dist/img/tang.png" class="img-circle" alt="User Image">
							</div>
							<h4>
				唐嫣
				<small><i class="fa fa-clock-o"></i> 2 小时</small>
			  </h4>
							<p>能不能提高我的权限？</p>
						</a>
					</li>

					<li>
						<a href="#">
							<div class="pull-left">
								<img src="__PUBLIC__/AdminLTE2/dist/img/zhou.jpg" class="img-circle" alt="User Image">
							</div>
							<h4>
				周杰伦
				<small><i class="fa fa-clock-o"></i> 昨天</small>
			  </h4>
							<p>哎呦，不错哟！</p>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pull-left">
								<img src="__PUBLIC__/AdminLTE2/dist/img/hu.jpg" class="img-circle" alt="User Image">
							</div>
							<h4>
				胡歌
				<small><i class="fa fa-clock-o"></i> 2 天</small>
			  </h4>
							<p>策马迎风，看人生起伏。啸歌书景，笑天地荒老。以梦为马，驰骋流年。</p>
						</a>
					</li>
				</ul>
			</li>
			<li class="footer"><a href="#">查看所有消息</a></li>
		</ul>
	</li>

	<!-- Notifications: style can be found in dropdown.less -->
	<li class="dropdown notifications-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-bell-o"></i>
			<span class="label label-warning">2</span>
		</a>
		<ul class="dropdown-menu">
			<li class="header">2条通知</li>
			<li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu">
					<li>
						<a href="#">
							<i class="fa fa-users text-aqua"></i> 今天访问人数达到66人
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-warning text-yellow"></i> 图片缓存已达到1024M，注意清理
						</a>
					</li>
				</ul>
			</li>
			<li class="footer"><a href="#">查看所有通知</a></li>
		</ul>
	</li>

	<!-- Tasks: style can be found in dropdown.less -->
	<li class="dropdown tasks-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-flag-o"></i>
			<span class="label label-danger">2</span>
		</a>
		<ul class="dropdown-menu">
			<li class="header">2个任务</li>
			<li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu">
					<li>
						<!-- Task item -->
						<a href="#">
							<h3>
				备份数据库
				<small class="pull-right">20%</small>
			  </h3>
							<div class="progress xs">
								<div class="progress-bar progress-bar-red" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
									<span class="sr-only">20% </span>
								</div>
							</div>
						</a>
					</li>
					<!-- end task item -->
					<li>
						<!-- Task item -->
						<a href="#">
							<h3>
				清理缓存
				<small class="pull-right">40%</small>
			  </h3>
							<div class="progress xs">
								<div class="progress-bar progress-bar-yellow" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
									<span class="sr-only">40% </span>
								</div>
							</div>
						</a>
					</li>
					<!-- end task item -->
				</ul>
			</li>
			<li class="footer">
				<a href="#">查看所有任务</a>
			</li>
		</ul>
	</li>
	<!-- User Account: style can be found in dropdown.less -->
	<li class="dropdown user user-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="user-image" alt="User Image">
			<span class="hidden-xs">胡洋</span>
		</a>
		<ul class="dropdown-menu">
			<!-- User image -->
			<li class="user-header">
				<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="img-circle" alt="User Image">

				<p>
					胡洋 - 后台管理员
					<small>注册于2015.11.08</small>
				</p>
			</li>
			<!-- Menu Footer-->
			<li class="user-footer">
				<div class="pull-left">
					<a href="#" class="btn btn-default btn-flat">个人设置</a>
				</div>
				<div class="pull-right">
					<a href="#" class="btn btn-default btn-flat">退出</a>
				</div>
			</li>
		</ul>
	</li>
</block>

<block name="navigation">
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__/AdminLTE2/dist/img/my.png" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>胡洋</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>
	<!-- search form -->
	<form action="#" method="get" class="sidebar-form">
		<div class="input-group">
			<input type="text" name="q" class="form-control" placeholder="搜索...">
			<span class="input-group-btn">
			<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
			</button>
		  </span>
		</div>
	</form>
	<!-- /.search form -->
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu">
		<li class="active treeview">
			<a href="#">
				<i class="fa fa-dashboard"></i> <span>首页</span>
			</a>
		</li>
		<li class="header">操作相关</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-fw fa-truck"></i>
				<span>资产管理</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#">
						<i class="fa fa-fw fa-wrench"></i>
						<span>工具</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-recycle"></i>
						<span>耗材</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-fw fa-cubes"></span>
						<span>设备</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-fw fa-image"></span>
						<span>证照</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-fw fa-arrows"></span>
						<span>其他</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-fw fa-users"></i>
				<span>人事管理</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#">
						<i class="fa fa-fw fa-calendar-check-o"></i>
						<span>考勤信息</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-newspaper-o"></i>
						<span>招聘信息</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-sort-numeric-asc"></i>
						<span>绩效评分</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-line-chart"></i>
						<span>绩效查询</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-user"></i>
						<span>员工管理</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-fw fa-hand-o-up"></i>
				<span>服务管理</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#">
						<i class="fa fa-fw fa-check-square-o"></i>
						<span>服务派单</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-list-ol"></i>
						<span>服务查询</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="header">数据相关</li>
		<li>
			<a href="#">
				<i class="fa fa-fw fa-table"></i> <span>资产报表</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-fw fa-list-alt"></i> <span>服务报表</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-fw fa-user-plus"></i> <span>人事报表</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-fw fa-commenting"></i> <span>反馈报表</span>
			</a>
		</li>
		<li class="header">设置相关</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-fw fa-truck"></i>
				<span>资产设置</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#">
						<i class="fa fa-fw fa-wrench"></i>
						<span>工具</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-recycle"></i>
						<span>耗材</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-fw fa-cubes"></span>
						<span>设备</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-fw fa-image"></span>
						<span>证照</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-fw fa-arrows"></span>
						<span>其他</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-fw fa-circle-o"></span>
						<span>全局字段</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-fw fa-users"></i>
				<span>人事设置</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#">
						<i class="fa fa-fw fa-calendar-check-o"></i>
						<span>考勤设置</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-sort-numeric-asc"></i>
						<span>绩效设置</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-user"></i>
						<span>员工设置</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-calendar-plus-o"></i>
						<span>排班设置</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-fw fa-area-chart"></i>
				<span>报表设置</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#">
						<i class="fa fa-fw fa-table"></i>
						<span>资产</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-list-alt"></i>
						<span>服务</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-fw fa-user-plus"></span>
						<span>人事</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</block>

<block name="content-header">
	<h1>
	首页
  </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li class="active">首页</li>
	</ol>
</block>

<block name="content">
	<div class="row">
		<div class="col-md-8">
			<div class="box box-warning">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-hand-o-down"></i>
					<h3 class="box-title">待维修服务单</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body no-padding">
					<table class="table table-striped">
						<thead>
							<th>姓名</th>
							<th>学号</th>
							<th>宿舍号</th>
							<th>电话</th>
							<th>派单</th>
						</thead>
						<tbody>
							<tr>
								<td>胡洋</td>
								<td>201420907</td>
								<td>11-603</td>
								<td>134 7413 6962</td>
								<td>
									<select class="form-control">
										<option selected>请选择</option>
										<option>陈登州</option>
										<option>胡洋</option>
										<option>马燕</option>
										<option>喻利君</option>
										<option>亢喜年</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>张三</td>
								<td>2010114127</td>
								<td>1-633</td>
								<td>155 9187 2575</td>
								<td>
									<select class="form-control">
										<option selected>请选择</option>
										<option>陈登州</option>
										<option>胡洋</option>
										<option>马燕</option>
										<option>喻利君</option>
										<option>亢喜年</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>唐嫣</td>
								<td>2010117034</td>
								<td>5-536</td>
								<td>138 9185 2245</td>
								<td>
									<select class="form-control">
										<option selected>请选择</option>
										<option>陈登州</option>
										<option>胡洋</option>
										<option>马燕</option>
										<option>喻利君</option>
										<option>亢喜年</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>周杰伦</td>
								<td>2015117129</td>
								<td>11-409</td>
								<td>158 9204 8295</td>
								<td>
									<select class="form-control">
										<option selected>请选择</option>
										<option>陈登州</option>
										<option>胡洋</option>
										<option>马燕</option>
										<option>喻利君</option>
										<option>亢喜年</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>胡歌</td>
								<td>2010203047</td>
								<td>3-106</td>
								<td>138 9385 6325</td>
								<td>
									<select class="form-control">
										<option selected>请选择</option>
										<option>陈登州</option>
										<option>胡洋</option>
										<option>马燕</option>
										<option>喻利君</option>
										<option>亢喜年</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>李四</td>
								<td>2013114098</td>
								<td>1-602</td>
								<td>139 9144 1561</td>
								<td>
									<select class="form-control">
										<option selected>请选择</option>
										<option>陈登州</option>
										<option>胡洋</option>
										<option>马燕</option>
										<option>喻利君</option>
										<option>亢喜年</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>王五</td>
								<td>2010104099</td>
								<td>9-231</td>
								<td>134 9571 7821</td>
								<td>
									<select class="form-control">
										<option selected>请选择</option>
										<option>陈登州</option>
										<option>胡洋</option>
										<option>马燕</option>
										<option>喻利君</option>
										<option>亢喜年</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- box-body -->
			</div>
			<!-- box -->
		</div>
		<!-- col -->

		<div class="col-md-4">
			<div class="box box-success">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-check-square-o"></i>
					<h3 class="box-title">排班表</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>

				<div class="box-body no-padding">
					<table class="table table-striped">
						<thead>
							<th>姓名</th>
							<th>周一</th>
							<th>周二</th>
							<th>周三</th>
							<th>周四</th>
							<th>周五</th>
						</thead>
						<tbody>
							<tr>
								<td>喻利君</td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
							</tr>
							<tr>
								<td>杨康</td>
								<td></td>
								<td></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td><span class="badge bg-green">双</span></td>
							</tr>
							<tr>
								<td>朱文鹏</td>
								<td></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>李鹏程</td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
							</tr>
							<tr>
								<td>蒋维</td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td></td>
								<td></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
							</tr>
							<tr>
								<td>成晓奇</td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td><span class="badge bg-green"><i class="fa fa-fw fa-check"></i></span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- box-body -->
			</div>
			<!-- box -->
		</div>
		<!-- col-md-4 -->
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="box box-solid bg-yellow-gradient">
				<div class="box-header">
					<i class="fa fa-wrench"></i>
					<h3 class="box-title">工具</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-sm" data-widget="remove"><i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div class="box-body border-radius-none">
					<div class="chart" id="chart_tools" style="height: 250px;"></div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer text-black">
					<div class="row">
						<div class="col-sm-6">
							<!-- Progress bars -->
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">剪线钳</span>
								<small class="pull-right">2 把</small>
							</div>
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">剥线刀</span>
								<small class="pull-right">10 把</small>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">螺丝刀</span>
								<small class="pull-right">3 把</small>
							</div>
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">测线仪</span>
								<small class="pull-right">4 个</small>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-md-12 text-center">
							<a href="#" class="btn-block">查看更多 <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-footer -->
			</div>
			<!-- /.box -->
		</div>

		<div class="col-md-4">
			<div class="box box-solid bg-green-gradient">
				<div class="box-header">
					<i class="fa fa-recycle"></i>
					<h3 class="box-title">耗材</h3>
					<!-- tools box -->
					<div class="pull-right box-tools">
						<button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i>
						</button>
					</div>
					<!-- /. tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body border-radius-none">
					<div class="chart" id="chart_exhaust" style="height: 250px;"></div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer text-black">
					<div class="row">
						<div class="col-sm-6">
							<!-- Progress bars -->
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">垃圾袋</span>
								<small class="pull-right">2 包</small>
							</div>
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">水晶头</span>
								<small class="pull-right">54 个</small>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">双绞线</span>
								<small class="pull-right">14 米</small>
							</div>
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">标签纸</span>
								<small class="pull-right">6.23 米</small>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-md-12 text-center">
							<a href="#" class="btn-block">查看更多 <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
					<!-- /.row -->
				</div>
			</div>
			<!-- /.box -->
		</div>

		<div class="col-md-4">
			<div class="box box-solid bg-red-gradient">
				<div class="box-header">
					<i class="fa fa-cubes"></i>
					<h3 class="box-title">设备</h3>
					<!-- tools box -->
					<div class="pull-right box-tools">
						<button type="button" class="btn btn-danger btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-danger btn-sm" data-widget="remove"><i class="fa fa-times"></i>
						</button>
					</div>
					<!-- /. tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body border-radius-none">
					<div class="chart" id="chart_device" style="height: 250px;"></div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer text-black">
					<div class="row">
						<div class="col-sm-12">
							<!-- Progress bars -->
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">交换机</span>
								<small class="pull-right">0 台</small>
							</div>
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">路由器</span>
								<small class="pull-right">0 台</small>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-md-12 text-center">
							<a href="#" class="btn-block">查看更多 <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
					<!-- /.row -->
				</div>
			</div>
			<!-- /.box -->
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		var line_exhaust = new Morris.Line({
		    element: 'chart_exhaust',
		    resize: true,
		    data: [
		      {y: '2015-02', item1: 23},
		      {y: '2015-03', item1: 35},
		      {y: '2015-04', item1: 35},
		      {y: '2015-05', item1: 29},
		      {y: '2015-06', item1: 36},
		      {y: '2015-07', item1: 19},
		      {y: '2015-08', item1: 45},
		      {y: '2015-09', item1: 43},
		      {y: '2015-10', item1: 52},
		      {y: '2015-11', item1: 56}
		    ],
		    xkey: 'y',
		    ykeys: ['item1'],
		    labels: ['耗材总数'],
		    lineColors: ['#efefef'],
		    lineWidth: 2,
		    hideHover: 'auto',
		    gridTextColor: "#fff",
		    gridStrokeWidth: 0.4,
		    pointSize: 4,
		    pointStrokeColors: ["#efefef"],
		    gridLineColor: "#efefef",
		    gridTextFamily: "Open Sans",
		    gridTextSize: 10
		  });
		
		  var line_tools = new Morris.Line({
		    element: 'chart_tools',
		    resize: true,
		    data: [
		      {y: '2015-02', item1: 88},
		      {y: '2015-03', item1: 69},
		      {y: '2015-04', item1: 67},
		      {y: '2015-05', item1: 62},
		      {y: '2015-06', item1: 54},
		      {y: '2015-07', item1: 57},
		      {y: '2015-08', item1: 42},
		      {y: '2015-09', item1: 33},
		      {y: '2015-10', item1: 28},
		      {y: '2015-11', item1: 11}
		    ],
		    xkey: 'y',
		    ykeys: ['item1'],
		    labels: ['工具总数'],
		    lineColors: ['#efefef'],
		    lineWidth: 2,
		    hideHover: 'auto',
		    gridTextColor: "#fff",
		    gridStrokeWidth: 0.4,
		    pointSize: 4,
		    pointStrokeColors: ["#efefef"],
		    gridLineColor: "#efefef",
		    gridTextFamily: "Open Sans",
		    gridTextSize: 10
		  });
		  
		  var line_device = new Morris.Line({
		    element: 'chart_device',
		    resize: true,
		    data: [
		      {y: '2015-02', item1: 14},
		      {y: '2015-03', item1: 15},
		      {y: '2015-04', item1: 18},
		      {y: '2015-05', item1: 18},
		      {y: '2015-06', item1: 14},
		      {y: '2015-07', item1: 13},
		      {y: '2015-08', item1: 5},
		      {y: '2015-09', item1: 0},
		      {y: '2015-10', item1: 0},
		      {y: '2015-11', item1: 0}
		    ],
		    xkey: 'y',
		    ykeys: ['item1'],
		    labels: ['设备总数'],
		    lineColors: ['#efefef'],
		    lineWidth: 2,
		    hideHover: 'auto',
		    gridTextColor: "#fff",
		    gridStrokeWidth: 0.4,
		    pointSize: 4,
		    pointStrokeColors: ["#efefef"],
		    gridLineColor: "#efefef",
		    gridTextFamily: "Open Sans",
		    gridTextSize: 10
		  });
	</script>
</block>