<extend name="base" />
<block name="title">
	<title>Network Service 管理</title>
</block>

<block name="quick-information">
	{:W('QuickInfo/message')}
	{:W('QuickInfo/notice')}
	{:W('QuickInfo/task')}
	{:W('QuickInfo/self')}
</block>

<block name="navigation">
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>{$user.uname}</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('setdata','dataservice'))}
	<!--menu widget-->

</block>

<block name="content-header">
	<h1>
		数据报表
		<small><span class="fa fa-fw fa-hand-o-up"></span>人事报表</small>
		<a class="btn btn-primary" href="#" target="_blank">导出pdf</a>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li>数据报表</li>
		<li class="active">人事报表</li>
	</ol>
</block>

<block name="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-hand-o-up"></i>
					<h3 class="box-title">员工人数{$begin_time} 到 {$end_time}</h3>

					<div class="box-cards pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body table-responsive">
					<div class="col-sm-6">
						<div id="area_1" style="width: 550px;height:350px;"></div>
					</div>
					<div class="col-sm-6">
						<div id="area_2" style="width: 550px;height:350px;"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-hand-o-up"></i>
					<h3 class="box-title">请假 {$begin_time} 到 {$end_time}</h3>

					<div class="box-cards pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body table-responsive">
					<div class="col-sm-4">
						<div id="area_3" style="width: 360px;height:300px;"></div>
					</div>
					<div class="col-sm-4">
						<div id="area_4" style="width: 360px;height:300px;"></div>
					</div>
					<div class="col-sm-4">
						<div id="area_5" style="width: 360px;height:300px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-hand-o-up"></i>
					<h3 class="box-title">离职申请 {$begin_time} 到 {$end_time}</h3>

					<div class="box-cards pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body table-responsive">
					<div class="col-sm-4">
						<div id="area_6" style="width: 360px;height:300px;"></div>
					</div>
					<div class="col-sm-4">
						<div id="area_7" style="width: 360px;height:300px;"></div>
					</div>
					<div class="col-sm-4">
						<div id="area_8" style="width: 360px;height:300px;"></div>
					</div>
				</div>
			</div>
		</div>
        <div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-hand-o-up"></i>
					<h3 class="box-title">兼职申请 {$begin_time} 到 {$end_time}</h3>

					<div class="box-cards pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body table-responsive">
					<div class="col-sm-4">
						<div id="area_9" style="width: 360px;height:300px;"></div>
					</div>
					<div class="col-sm-4">
						<div id="area_10" style="width: 360px;height:300px;"></div>
					</div>
					<div class="col-sm-4">
						<div id="area_11" style="width: 360px;height:300px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-hand-o-up"></i>
					<h3 class="box-title">考勤 {$begin_time} 到 {$end_time}</h3>

					<div class="box-cards pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body table-responsive">
					<div class="col-sm-4">
						<div id="area_12" style="width: 360px;height:300px;"></div>
					</div>
					<div class="col-sm-4">
						<div id="area_13" style="width: 360px;height:300px;"></div>
					</div>
					<div class="col-sm-4">
						<div id="area_14" style="width: 360px;height:300px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>

<block name="script">
	<js href="__PUBLIC__/AdminLTE2/plugins/echarts/echarts.common.min.js" />
	<js href="__PUBLIC__/AdminLTE2/plugins/echarts/theme/shine.js" />
	<script type="text/javascript">
		option1 = {
			title : {
				text: '员工总人数: {$areacount|array_sum}',
				subtext: '三个校区',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['{$userarea.0.area}','{$userarea.1.area}','{$userarea.2.area}']
			},
			series : [
				{
					name: '员工人数',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$areacount.0}', name:'{$userarea.0.area}'},
						{value:'{$areacount.1}', name:'{$userarea.1.area}'},
						{value:'{$areacount.2}', name:'{$userarea.2.area}'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option2 = {
			title: {
				text: '员工总人数: {$areacount|array_sum}'
			},
			legend: {
				data: ['{$userarea.0.area}','{$userarea.1.area}','{$userarea.2.area}'],
				align: 'left'
			},
			toolbox: {
				// y: 'bottom',
				feature: {
					magicType: {
						type: ['stack', 'tiled' , 'bar', 'line']
					},
					dataView: {},
					saveAsImage: {
						pixelRatio: 2
					}
				}
			},
			tooltip: {},
			xAxis: {
				data: [ <foreach name='areax' item='vo'> '{$vo}', </foreach> ],
				silent: false,
				splitLine: {
					show: false
				}
			},
			yAxis: {
			},
			series: [{
				name: '{$userarea.0.area}',
				type: 'bar',
				data: [
					<foreach name='areadata[0]' item='vo'> '{$vo}', </foreach>
				]
			}, {
				name: '{$userarea.1.area}',
				type: 'bar',
				data: [
					<foreach name='areadata[1]' item='vo'> '{$vo}', </foreach>
				]
			}, {
				name: '{$userarea.2.area}',
				type: 'bar',
				data: [
					<foreach name='areadata[2]' item='vo'> '{$vo}', </foreach>
				]
			}],
			animationEasing: 'elasticOut',
			animationDelayUpdate: function (idx) {
				return idx * 5;
			}
		};
		option3 = {
			title : {
				text: '{$userarea.0.area}',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['已审批','未审批']
			},
			series : [
				{
					name: '请假审批比率',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$vacationdoneornot.0.1.count}', name:'已审批'},
						{value:'{$vacationdoneornot.0.0.count}', name:'未审批'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option4 = {
			title : {
				text: '{$userarea.1.area}',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['已审批','未审批']
			},
			series : [
				{
					name: '请假审批比率',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$vacationdoneornot.1.1.count}', name:'已审批'},
						{value:'{$vacationdoneornot.1.0.count}', name:'未审批'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option5 = {
			title : {
				text: '{$userarea.2.area}',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['已审批','未审批']
			},
			series : [
				{
					name: '离职审批比率',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$vacationdoneornot.2.1.count}', name:'已审批'},
						{value:'{$vacationdoneornot.2.0.count}', name:'未审批'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option6 = {
			title : {
				text: '{$userarea.1.area}',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['已审批','未审批']
			},
			series : [
				{
					name: '离职审批比率',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$dimissiondoneornot.0.1.count}', name:'已审批'},
						{value:'{$dimissiondoneornot.0.0.count}', name:'未审批'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option7 = {
			title : {
				text: '{$userarea.1.area}',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['已审批','未审批']
			},
			series : [
				{
					name: '离职审批比率',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$dimissiondoneornot.1.1.count}', name:'已审批'},
						{value:'{$dimissiondoneornot.1.0.count}', name:'未审批'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option8 = {
			title : {
				text: '{$userarea.1.area}',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['已审批','未审批']
			},
			series : [
				{
					name: '请假审批比率',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$dimissiondoneornot.2.1.count}', name:'已审批'},
						{value:'{$dimissiondoneornot.2.0.count}', name:'未审批'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option9 = {
			title : {
				text: '{$userarea.1.area}',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['已审批','未审批']
			},
			series : [
				{
					name: '兼职申请审批比率',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$applydoneornot.0.1.count}', name:'已审批'},
						{value:'{$applydoneornot.0.0.count}', name:'未审批'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option10 = {
			title : {
				text: '{$userarea.1.area}',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['已审批','未审批']
			},
			series : [
				{
					name: '兼职申请审批比率',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$applydoneornot.1.1.count}', name:'已审批'},
						{value:'{$applydoneornot.1.0.count}', name:'未审批'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option11 = {
			title : {
				text: '{$userarea.1.area}',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['已审批','未审批']
			},
			series : [
				{
					name: '兼职申请审批比率',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$applydoneornot.2.1.count}', name:'已审批'},
						{value:'{$applydoneornot.2.0.count}', name:'未审批'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option12 = {
			title : {
				text: '考勤总次数: {$registercount|array_sum}',
				subtext: '长安校区',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['{$registerarea.0.name}','{$registerarea.1.name}','{$registerarea.2.name}']
			},
			series : [
				{
					name: '员工人数',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$registercount.0}', name:'{$registerarea.0.name}'},
						{value:'{$registercount.1}', name:'{$registerarea.1.name}'},
						{value:'{$registercount.2}', name:'{$registerarea.2.name}'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option13 = {
			title : {
				text: '考勤总次数: {$registercount2|array_sum}',
				subtext: '太白校区',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['{$registerarea.0.name}','{$registerarea.1.name}','{$registerarea.2.name}']
			},
			series : [
				{
					name: '员工人数',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$registercount2.0}', name:'{$registerarea.0.name}'},
						{value:'{$registercount2.1}', name:'{$registerarea.1.name}'},
						{value:'{$registercount2.2}', name:'{$registerarea.2.name}'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option14 = {
			title : {
				text: '考勤总次数: {$registercount3|array_sum}',
				subtext: '桃园校区',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['{$registerarea.0.name}','{$registerarea.1.name}','{$registerarea.2.name}']
			},
			series : [
				{
					name: '员工人数',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$registercount3.0}', name:'{$registerarea.0.name}'},
						{value:'{$registercount3.1}', name:'{$registerarea.1.name}'},
						{value:'{$registercount3.2}', name:'{$registerarea.2.name}'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		var myChart1 = echarts.init(document.getElementById('area_1'), "shine");
		var myChart2 = echarts.init(document.getElementById('area_2'), "shine");
		var myChart3 = echarts.init(document.getElementById('area_3'));
		var myChart4 = echarts.init(document.getElementById('area_4'));
		var myChart5 = echarts.init(document.getElementById('area_5'));
		var myChart6 = echarts.init(document.getElementById('area_6'));
		var myChart7 = echarts.init(document.getElementById('area_7'));
		var myChart8 = echarts.init(document.getElementById('area_8'));
		var myChart9 = echarts.init(document.getElementById('area_9'));
		var myChart10 = echarts.init(document.getElementById('area_10'));
		var myChart11 = echarts.init(document.getElementById('area_11'));
		var myChart12 = echarts.init(document.getElementById('area_12'), "shine");
		var myChart13 = echarts.init(document.getElementById('area_13'), "shine");
		var myChart14 = echarts.init(document.getElementById('area_14'), "shine");
		myChart1.setOption(option1);
		myChart2.setOption(option2);
		myChart3.setOption(option3);
		myChart4.setOption(option4);
		myChart5.setOption(option5);
		myChart6.setOption(option6);
		myChart7.setOption(option7);
		myChart8.setOption(option8);
		myChart9.setOption(option9);
		myChart10.setOption(option10);
		myChart11.setOption(option11);
		myChart12.setOption(option12);
		myChart13.setOption(option13);
		myChart14.setOption(option14);

	</script>
</block>