<extend name="base" />
<block name="title">
	<title>Network Service 管理</title>
</block>
<block name="quick-information">
	{:W('QuickInfo/message')}
	{:W('QuickInfo/notice')}
	{:W('QuickInfo/task')}
	{:W('QuickInfo/self')}
</block>
<block name="navigation">
	<div class="user-panel">
	<div class="pull-left image">
		<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
	</div>
	<div class="pull-left info">
		<p>{$user.uname}</p>
		<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
	</div>
</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('doservice','doservicequery'))}
	<!--menu widget-->
</block>

<block name="content-header">
	<h1>
	服务管理
	<small><i class="fa fa-fw fa-list-ol"></i>所有服务单</small>
  </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li>服务管理</li>
		<li class="active">服务派单</li>
	</ol>
</block>

<block name="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-warning">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-list-ol"></i>
					<h3 class="box-title">所有服务单</h3>

					<div class="box-cards pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body table-responsive">
					<table id="card1" class="table table-bordered table-hover">
						<thead>
							<th>id</th>
							<th>姓名</th>
							<th>学号</th>
							<th>宿舍号</th>
							<th>电话</th>
							<th>现象描述</th>
							<th>提交时间</th>
							<th>预约时间</th>
						    <th>是否完成</th>
						</thead>
						<tbody>
							
						</tbody>
						<tfoot>
							<th>id</th>
							<th>姓名</th>
							<th>学号</th>
							<th>宿舍号</th>
							<th>电话</th>
							<th>现象描述</th>
							<th>提交时间</th>
							<th>预约时间</th>
							<th>是否完成</th>
						</tfoot>
					</table>
				</div>
				<!-- box-body -->
			</div>
			<!-- box -->
		</div>
		<!-- col -->
		<!-- col-md-4 -->
		<div class="col-md-6">
			<div class="box box-solid bg-yellow-gradient">
				<div class="box-header">
					<i class="fa fa-hand-o-up"></i>
					<h3 class="box-title">未完成服务单数</h3>
					<div class="box-cards pull-right">
						<button type="button" class="btn btn-box-card btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-card btn-sm" data-widget="remove"><i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div class="box-body border-radius-none">
					<div class="chart" id="chart_cards1" style="height: 250px;"></div>
				</div>

			</div>
			<!-- /.box -->
		</div>
		<!-- col-md-4 -->
		<div class="col-md-6">
			<div class="box box-solid bg-yellow-gradient">
				<div class="box-header">
					<i class="fa fa-hand-o-up"></i>
					<h3 class="box-title">已完成服务单数</h3>
					<div class="box-cards pull-right">
						<button type="button" class="btn btn-box-card btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-card btn-sm" data-widget="remove"><i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div class="box-body border-radius-none">
					<div class="chart" id="chart_cards2" style="height: 250px;"></div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer text-black">
					<div class="row">
						<foreach name="cardstate2" item="vo">
							<div class="col-md-6">
								<div class="clearfix" style="border-bottom: 1px solid #eee">
									<span class="pull-left">{$vo.name}</span>
									<small class="pull-right">{$vo.number} </small>
								</div>
							</div>
						</foreach>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-footer -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
	    //Morris1
		var line_cards = new Morris.Line({
			element: 'chart_cards1',
			resize: true,
			data: [
			<foreach name ="cardtime1" item="vo">
				{y: '{$vo.start}',item1: '{$vo.num}'},
		    </foreach> ],
			xkey: 'y',
			ykeys: ['item1'],
			labels: ['未完成服务单总数'],
			lineColors: ['#efefef'],
			lineWidth: 2,
			hideHover: 'auto',
			gridTextColor: "#fff",
			gridStrokeWidth: 0.4,
			pointSize: 4,
			pointStrokeColors: ["#efefef"],
			gridLineColor: "#efefef",
			gridTextFamily: "Open Sans",
			gridTextSize: 10
		});
	    //Morris2
		var line_cards = new Morris.Line({
			element: 'chart_cards2',
			resize: true,
			data: [
			<foreach name ="cardtime2" item="vo">
				{y: '{$vo.start}',item1: '{$vo.num}'},
		    </foreach> ],
			xkey: 'y',
			ykeys: ['item1'],
			labels: ['已完成服务单总数'],
			lineColors: ['#efefef'],
			lineWidth: 2,
			hideHover: 'auto',
			gridTextColor: "#fff",
			gridStrokeWidth: 0.4,
			pointSize: 4,
			pointStrokeColors: ["#efefef"],
			gridLineColor: "#efefef",
			gridTextFamily: "Open Sans",
			gridTextSize: 10
		});
		//datatables
		var table = $("#card1").DataTable({
			"processing": true,
            "serverSide": true,
            "ajax": "<php>echo U('Boss/DoService/cardtable')</php>",
			"language": {
				"sProcessing":   "处理中...",
				"lengthMenu": "每页 _MENU_ 条记录",
				"zeroRecords": "没有找到记录",
				"info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
				"infoEmpty": "无记录",
				"infoFiltered": "(从 _MAX_ 条记录过滤)",
				"search": "搜索",
				"sLoadingRecords": "载入中...",
				"paginate": {
					"previous": "前页",
					"next": "后页"
				}
			}
		});
		$('#card1 tbody').on('click', 'tr', function() {
			var id = $(this).children().first().html();
			location.href = "index.php?s=/Boss-DoService-servicecard-id-" + id;
		});
	</script>
</block>