<extend name="base" />
<block name="title">
	<title>Network Service 管理</title>
</block>
<block name="quick-information">
	{:W('QuickInfo/message')}
	{:W('QuickInfo/notice')}
	{:W('QuickInfo/task')}
	{:W('QuickInfo/self')}
</block>

<block name="navigation">
	<div class="user-panel">
	<div class="pull-left image">
		<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
	</div>
	<div class="pull-left info">
		<p>{$user.uname}</p>
		<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
	</div>
</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('doservice','dosend'))}
	<!--menu widget-->
</block>

<block name="content-header">
	<h1>
		<a href="<php>echo U('Boss/DoService/query')</php>" class="">
			<i class="ion ion-backspace" data-toggle="tooltip" data-placement="top" title="返回"></i>
		</a> <i class="fa fa-fw fa-check-square-o"></i>服务单详细信息
  </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li>服务管理</li>
		<li class="active">服务单详细信息</li>
	</ol>
</block>
<block name="content">
	<div class="row">
		<div class="col-md-4">
			<div class="box box-widget widget-user-2">
				<!-- Add the bg color to the header using any of the bg-* classes -->
				<div class="widget-user-header bg-green">
					<!-- /.widget-user-image -->
					<h3 class="widget-user-username">服务单信息</h3>
					<h5 class="widget-user-desc">{$cardinfo.0.name}</h5>
				</div>
				<div class="box-footer no-padding">
					<ul class="nav nav-stacked">
						<li><a href="#">id <span class="pull-right badge bg-yellow">{$id}</span></a></li>
						<li><a href="#">宿舍号 <span class="pull-right  ">{$cardinfo.0.dormitory}</span></a></li>
						<li><a href="#">预约时间 <span class="pull-right  ">{$cardinfo.0.appointment_time}</span></a></li>
						<li><a href="#">姓名 <span class="pull-right  ">{$cardinfo.0.name}</span></a></li>
						<li><a href="#">学号 <span class="pull-right  ">{$cardinfo.0.student_no}</span></a></li>
						<li><a href="#">电话 <span class="pull-right  ">{$cardinfo.0.phone}</span></a></li>
						<li><a href="#">故障现象 <span class="pull-right  ">{$cardinfo.0.question}</span></a></li>
						<li><a href="#">提交时间 <span class="pull-right  ">{$cardinfo.0.start}</span></a></li>
						<li><a href="#">所属校区 <span class="pull-right  ">{$cardinfo.0.area}</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="box">
				<div class="box-body">
					<!-- The timeline -->
					<ul class="timeline timeline-inverse">
						<!-- timeline time label -->
						<li class="time-label"><span class="bg-blue">{$cardinfo.0.start}</span></li>
						<li>
							<i class="fa fa-shopping-cart bg-blue"></i>
							<div class="timeline-item">
								<span class="time"><i class="fa fa-clock-o"></i> {$cardinfo.0.start|substr=11,18}</span>
								<h3 class="timeline-header"><a href="#">已登记维修</a> {$cardinfo.0.start|substr=0,10}</h3>

							</div>
						</li>
						<foreach name="servicerepair" item="vo">
							<li class="time-label"><span class="bg-blue">{$vo.time}</span></li>
							<li>
								<i class="fa fa-user bg-blue"></i>
								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> {$vo.time|substr=11,18}</span>
									<h3 class="timeline-header"><a href="#">{$vo.state}</a> {$vo.time|substr=0,10}</h3>
									<div class="timeline-body">
										<h4>{$vo.breakinfo}</h4>
										<p>{$vo.breaksubinfo}</p>
										<p class="text-primary">维修者：{$vo.operator} </p>
									</div>
								</div>
							</li>
						</foreach>
						<if condition="$servicevaluate neq null">
							<foreach name="servicevaluate" item="vo">
								<li class="time-label"><span class="bg-red">{$vo.time}</span></li>
								<li>
									<i class="fa fa-user bg-red"></i>
									<div class="timeline-item">
										<span class="time"><i class="fa fa-clock-o"></i> {$vo.time|substr=11,18}</span>
										<h3 class="timeline-header"><a href="#">服务完成</a> {$vo.time|substr=0,10}</h3>
										<div class="timeline-body">
											<p class="text-primary">本次服务评价：{$vo.evaluation} </p>
										</div>
									</div>
								</li>
								</li>
							</foreach>
						</if>
						
						<if condition="$cardinfo[0]['status'] eq 1">
							<li class="time-label"><span class="bg-yellow">{$cardinfo.0.end}</span></li>
							<li>
								<i class="fa fa-ban bg-yellow"></i>
								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> {$cardinfo.0.end|substr=11,18}</span>
									<h3 class="timeline-header"><a href="#">管理员确认服务单</a> {$cardinfo.0.end|substr=0,10}</h3>
									<div class="timeline-body">
										<h4>备注：{$cardinfo.0.description}</h4>
										<p class="text-primary">确认完成人：{$cardinfo.0.operator} </p>
									</div>
								</div>
							</li>
							<else/>
							<li>
								<i class="fa fa-clock-o bg-gray"></i>
								<div class="timeline-item">
									<div class="timeline-header">
										<a>维修</a>
									</div>
									<div class="timeline-body">
										<form id="stateform">
											<select id="state" name = "state" class="form-control sr-only" style="width: 100%;">
												<option selected="selected">请选择</option>
													<option>维修</option>
											</select>
											<label>请选择维修者</label>
											<select id="uname" class="form-control" style="width: 100%;">
												<option selected="selected">请选择</option>
												<foreach name="staffname" item="vo">
													<option>{$vo.uname}</option>
												</foreach>
											</select>
											请选择<label>故障大类</label>
											<select id="breakinfo" name = "breakinfo" class="form-control" style="width: 100%;">
												<option selected="selected">请选择</option>
												<volist name="breakinfo" id="vo">
													<option>{$vo.label}.{$vo.name}</option>
												</volist>
											</select>
											请选择<label>故障小类</label>
											<select id="breaksubinfo" name = "breaksubinfo" class="form-control" style="width: 100%;">
												<option selected="selected">请选择</option>
											</select>
										</form>
									</div>
									<div class="timeline-footer">
										<button id="stateadd" class="btn btn-primary">提交</button>
									</div>
								</div>
							</li>
							<li>
								<i class="fa fa-ban bg-red"></i>
								<div class="timeline-item">
									<h3 class="timeline-header no-border"><a href="#">服务单确认完成</a> </h3>
									<h4><span class="text-red">&nbsp;注意：请确定修好后再确认完成</span></h4>
									<div class="timeline-body">
										<div class="form-group">
											<label>请添加备注</label>
											<div class="input-group">
												<div class="input-group-addon">
													确认人
												</div>
												<input type="text" id="operator" disabled="disabled" value="{$user.cname}" class="form-control" />
											</div>
											<div class="input-group">
												<div class="input-group-addon">
													备注
												</div>
												<input type="text" id="description" placeholder="请添加备注" class="form-control" />
											</div>
										</div>
										<button id="beizhu" class="btn btn-danger" type="submit">确认完成</button>
									</div>
								</div>
							</li>
						</if>
					</ul>
				</div>
			</div>
		</div>
		<!-- col -->
	</div>
</block>
<block name="script">
	<script type="text/javascript">
			//select2
			$(".select2").select2();
			/*
		 * 添加维修状态
		 * */
		$("#beizhu").click(function() {
			var $btn = $(this).button('loading');
			$.post("<php>echo U('Boss/DoService/servicerepairadd')</php>",{
				id : {$id},
				description : $("#description").val(),
				status : 1,
				operator : '{$user.cname}'
			}, function(data) {
				$btn.button('reset');
				if (data == true) {
					alert("添加成功");
				} else {
					alert(data);
				}
				location.reload();
			});
		});
		/*
		 * 添加维修状态
		 * */
		$("#stateadd").click(function() {
//			var $btn = $(this).button('loading');
			$.post("<php>echo U('Boss/DoService/servicestateadd')</php>",{
				servicecard_id : {$id},
				breakinfo : $("#breakinfo").val(),
				breaksubinfo : $("#breaksubinfo").val(),
				operator : $("#uname").val()
//				actor : '{$user.uname}'
			}, function(data) {
//				$btn.button('reset');
				if (data == true) {
					alert("操作成功");
					location.reload();
				} else {
					alert(data);
				}
			});
		});
		/**
		 * 故障选项联动
		 * */
		$("#breakinfo").change(function(){
			$.post("<php>echo U('Boss/DoService/servicebreak')</php>",{
				bname: $(this).val()
			},function(data){
				if(data){
					var please = '<option class="selected">请选择</option>';
					for(var key in data){
						please+='<option>'+parseInt($("#breakinfo").val())+'.'+data[key]['label']+data[key]['name']+'</option>';
					}
					$("#breaksubinfo").empty().append(please);
				}
			});
		});
		</script>
</block>
