<extend name="base" />
<block name="title">
	<title>Network Service 管理</title>
</block>

<block name="quick-information">
	{:W('QuickInfo/message')}
	{:W('QuickInfo/notice')}
	{:W('QuickInfo/task')}
	{:W('QuickInfo/self')}
</block>

<block name="navigation">
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>{$user.uname}</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('domessage'))}
	<!--menu widget-->

</block>

<block name="content-header">
	<h1>
	个人建议反馈
  </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-fw fa-dashboard"></i> Network Service</a></li>
		<li class="active">个人建议反馈</li>
	</ol>
</block>

<block name="content">
	<div class="row">
		<div class="col-md-12">
			<ul class="timeline">
				<if condition="$suginfo.id neq null">				
						<!-- timeline time label -->
						<li class="time-label"><span class="bg-blue">{$suginfo.time}</span></li>
						<li>
							
							<i class="fa fa-clock-o bg-blue"></i>
							<div class="timeline-item">
								<span class="time"><i class="fa fa-clock-o"></i> {$suginfo.time|substr=11,18}</span>
								<h3 class="timeline-header"><a href="#">已提交建议，时间</a> {$suginfo.time|substr=0,10}</h3>
                                <div class="timeline-header" id="serviceinfo">
									<p><a href="#">建议ID：</a> <span>{$suginfo.id}</span> </p>
									<p><a href="#">姓名：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <span>{$suginfo.uname}</span> </p>
									<p><a href="#">学号：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <span>{$suginfo.student_no}</span> </p>
									<p><a href="#">建议：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <span>{$suginfo.suggest}</span> </p>
									
                                </div>                               
								<div class="timeline-footer">
									<a class="btn btn-warning " id="editservice" data-toggle="modal" data-target="#addmodal">修改建议</a>
									<a class="btn btn-danger " id="delservice" data-toggle="modal" data-target="#delmodal">删除建议</a>
								</div>
							</div>
						</li>
						   
						<foreach name="servicerepair" item="vo">
							<li>
								<li>
									<i class="fa fa-user bg-blue"></i>
									<div class="timeline-item">
										<span class="time"><i class="fa fa-clock-o"></i> {$vo.time|substr=11,18}</span>
										<h3 class="timeline-header"><a href="#">维修进行时，时间：</a> {$vo.time|substr=0,10}</h3>
										<div class="timeline-body">
											<p class="text-primary">维修人：{$vo.operator} </p>
											
										</div>
									</div>
								</li>
							</li>
						</foreach>
						<else/><h3>您目前没有提交过个人建议...</h3>
				</if>	
						<li>
							<i class="fa fa-user bg-green"></i>
							<div class="timeline-item">
								<div class="timeline-body">
									<form id="suggestform">																			
									    <label>请提交建议</label>
										<div class="input-group">
											<div class="input-group-addon">
												建议
											</div>
											<input type="text" id='suggest' placeholder="请添加意见" class="form-control" />
										</div>
									</form>
								</div>
								<div class="timeline-footer">
									<a id="suggestadd" class="btn btn-primary">提交</a>
								</div>
							</div>
						</li>
				
			</ul>
		</div>
	</div>
</block>

<block name="script">
	<!-- add Modal -->
	<div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="addlabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span></button>
					<h4 class="modal-title">修改建议</h4>
				</div>
				<div class="modal-body">
					<form id="addform" class="form-horizontal">
						<div class="form-group">
							<label for="id" class="control-label col-sm-2">建议ID</label>
							<div class="col-sm-10">
								<input value="{$suginfo.id}" disabled="disabled" type="text" class="form-control" id="id" name="id" />
							</div>
						</div>
						<div class="form-group">
							<label for="uname" class="control-label col-sm-2">姓名</label>
							<div class="col-sm-10">
								<input value="{$suginfo.uname}" disabled="disabled" class="form-control" name="uname" type="text" id="uname"   placeholder="输入姓名" autocomplete="on" />
							</div>
						</div>
						<div class="form-group">
							<label for="student_no" class="control-label col-sm-2">学号</label>
							<div class="col-sm-10">
								<input value="{$suginfo.student_no}" disabled="disabled" class="form-control" id="student_no" name="student_no"  type="number" placeholder="输入学号" autocomplete="on" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2">建议</label>
							<div class="col-sm-10">
								<input value="{$suginfo.suggest}" class="form-control" name="suggest" id="suggest" type="text" placeholder="输入建议" autocomplete="on" />
							</div>
						</div>
						
						
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="addbtn" type="button" class="btn btn-warning">确认</button>
				</div>
			</div>
		</div>
	</div>
	<!-- add Modal -->
	<div class="modal fade" id="delmodal" tabindex="-1" role="dialog" aria-labelledby="dellabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span></button>
					<h4 class="modal-title">确认删除本条建议？</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="delbtn" type="button" class="btn btn-danger">确认</button>
				</div>
			</div>
		</div>
	</div>
	<!--form validation-->
	<js href="__PUBLIC__/formvalidation/js/formValidation.min.js" />
	<js href="__PUBLIC__/formvalidation/js/framework/bootstrap.js" />
	<js href="__PUBLIC__/formvalidation/js/language/zh_CN.js" />
	<js href="__PUBLIC__/AdminLTE2/plugins/datepicker/bootstrap-datepicker.js" />
	<js href="__PUBLIC__/AdminLTE2/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js" />
	<script type="text/javascript">		
		$("#addbtn").click(function () {
			$("#addform").submit();
		});
       	/*
		 * 添加建议
		 * */
		$("#suggestadd").click(function() {
			var $btn = $(this).button('loading');
			$.post("<php>echo U('Home/User/suggestadd')</php>",{
				uname: '{$user.uname}',
				student_no: '{$user.number}',
				suggest : $("#suggest").val()							
			}, function(data) {
				$btn.button('reset');
				if (data == true) {
					alert("提交成功");
				} else {
					alert(data);
				}
				location.reload();
			});
		});
		$('#addform').formValidation({
			message: '数据非法',
			icon: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
				uname: {
					validators: {
						notEmpty: {
							message: '姓名必不可少'
						},
						regexp: {
							regexp: /[\u4E00-\u9FA5]{2,8}/,
							message: '姓名必须是中文，长度大于2，且不包含数字和特殊字符'
						}
					}
				},
				student_no: {
					validators: {
						notEmpty: {
							message: '学号必不可少'
						},
						stringLength: {
							min: 9,
							max: 10,
							message: '用户名必须在9-10个字符之间'
						},
						regexp: {
							regexp: /^201\d[1-2]\d[0-9]{3,4}$/,
							message: '学号必须是201xxxxxx，如201420666，或2010114127'
						}
					}
				},
				
				captcha: {
					validators: {
						callback: {
							message: '答案错误',
							callback: function(value, validator, $field) {
								var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
								return value == sum;
							}
						}
					}
				}
			}
		}).on('success.form.fv', function(e) {
			// Prevent form submission
			e.preventDefault();

			// Get the form instance
			var $form = $(e.target);

			// Get the FormValidation instance
			var bv = $form.data('formValidation');

			// Use Ajax to submit form data
			$.post("<php>echo U('Home/User/suggestedit')</php>", {
						id: $("#id")[0].value,
						uname: $("#uname")[0].value,
						student_no: $("#student_no")[0].value,
						suggest: $("#suggest")[0].value						
					},
					function(data) {
//                        $btn.button('reset');
						if (data == true) {
							alert("修改成功");
							location.href = "index.php?s=/Home-User-suggest.html";
						} else {
							alert(data.msg);
							if(data.status){
								location.href = "index.php?s=/Home-User-suggest.html";
							}
						}
					});
		});

	</script>
</block>