<extend name="base" />
<block name="title">
	<title>Network Service 管理</title>
</block>

<block name="quick-information">
	{:W('QuickInfo/message')}
	{:W('QuickInfo/notice')}
	{:W('QuickInfo/task')}
	{:W('QuickInfo/self')}
</block>

<block name="navigation">
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>{$user.uname}</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('setdata','datafeedback'))}
	<!--menu widget-->

</block>

<block name="content-header">
	<h1>
		数据报表
		<small><span class="fa fa-fw fa-commenting"></span>反馈报表</small>
		<a class="btn btn-primary" href="#" target="_blank">导出pdf</a>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li>数据报表</li>
		<li class="active">反馈报表</li>
	</ol>
</block>

<block name="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-commenting"></i>
					<h3 class="box-title">校区 {$begin_time} 到 {$end_time}</h3>

					<div class="box-cards pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body table-responsive">
					<div class="col-sm-6">
						<div id="area_1" style="width: 550px;height:300px;"></div>
					</div>
					<div class="col-sm-6">
						<div id="area_2" style="width: 550px;height:300px;"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-commenting"></i>
					<h3 class="box-title">建议 {$begin_time} 到 {$end_time}</h3>

					<div class="box-cards pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body table-responsive">
					<div class="col-sm-12">
						<div id="area_3" style="width: 1200px;height:350px;"></div>
					</div>					
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-commenting"></i>
					<h3 class="box-title">服务反馈 {$begin_time} 到 {$end_time}</h3>

					<div class="box-cards pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body table-responsive">
					<div class="col-sm-12">
						<div id="area_4" style="width: 1200px;height:350px;"></div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</block>

<block name="script">
	<js href="__PUBLIC__/AdminLTE2/plugins/echarts/echarts.common.min.js" />
	<js href="__PUBLIC__/AdminLTE2/plugins/echarts/theme/shine.js" />
	<script type="text/javascript">
		option1 = {
			title : {
				text: '用户建议总次数: {$suggestareacount|array_sum}',
				subtext: '三个校区',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['{$userarea.0.area}','{$userarea.1.area}','{$userarea.2.area}']
			},
			series : [
				{
					name: '建议',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$suggestareacount.0}', name:'{$userarea.0.area}'},
						{value:'{$suggestareacount.1}', name:'{$userarea.1.area}'},
						{value:'{$suggestareacount.2}', name:'{$userarea.2.area}'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option2 = {
			title : {
				text: '服务评价总次数: {$evaluateareacount|array_sum}',
				subtext: '三个校区',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				left: 'left',
				data: ['{$userarea.0.area}','{$userarea.1.area}','{$userarea.2.area}']
			},
			series : [
				{
					name: '服务评价',
					type: 'pie',
					radius : '55%',
					center: ['50%', '60%'],
					data:[
						{value:'{$evaluateareacount.0}', name:'{$userarea.0.area}'},
						{value:'{$evaluateareacount.1}', name:'{$userarea.1.area}'},
						{value:'{$evaluateareacount.2}', name:'{$userarea.2.area}'}
					],
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		option3 = {
			title: {
				text: '用户建议次数'
			},
			legend: {
				data: ['{$userarea.0.area}','{$userarea.1.area}','{$userarea.2.area}'],
				align: 'left'
			},
			toolbox: {
				// y: 'bottom',
				feature: {
					magicType: {
						type: ['stack', 'tiled' , 'bar', 'line']
					},
					dataView: {},
					saveAsImage: {
						pixelRatio: 2
					}
				}
			},
			tooltip: {},
			xAxis: {
				data: [ <foreach name='suggesttime' item='vo'> '{$vo.time}', </foreach> ],
				silent: false,
				splitLine: {
					show: false
				}
			},
			yAxis: {
			},
			series: [{
				name: '{$userarea.0.area}',
				type: 'bar',
				data: [
					<foreach name='suggestdata[0]' item='vo'> '{$vo.count}', </foreach>
				]
			}, {
				name: '{$userarea.1.area}',
				type: 'bar',
				data: [
					<foreach name='suggestdata[1]' item='vo'> '{$vo.count}', </foreach>
				]
			}, {
				name: '{$userarea.2.area}',
				type: 'bar',
				data: [
					<foreach name='suggestdata[2]' item='vo'> '{$vo.count}', </foreach>
				]
			}],
			animationEasing: 'elasticOut',
			animationDelayUpdate: function (idx) {
				return idx * 5;
			}
		};
		option4 = {
			title: {
				text: '服务评价次数'
			},
			legend: {
				data: ['{$userarea.0.area}','{$userarea.1.area}','{$userarea.2.area}'],
				align: 'left'
			},
			toolbox: {
				// y: 'bottom',
				feature: {
					magicType: {
						type: ['stack', 'tiled' , 'bar', 'line']
					},
					dataView: {},
					saveAsImage: {
						pixelRatio: 2
					}
				}
			},
			tooltip: {},
			xAxis: {
				data: [ <foreach name='evaluatetime' item='vo'> '{$vo.time}', </foreach> ],
				silent: false,
				splitLine: {
					show: false
				}
			},
			yAxis: {
			},
			series: [{
				name: '{$userarea.0.area}',
				type: 'bar',
				data: [
					<foreach name='evaluatedata[0]' item='vo'> '{$vo.count}', </foreach>
				]
			}, {
				name: '{$userarea.1.area}',
				type: 'bar',
				data: [
					<foreach name='evaluatedata[1]' item='vo'> '{$vo.count}', </foreach>
				]
			}, {
				name: '{$userarea.2.area}',
				type: 'bar',
				data: [
					<foreach name='evaluatedata[2]' item='vo'> '{$vo.count}', </foreach>
				]
			}],
			animationEasing: 'elasticOut',
			animationDelayUpdate: function (idx) {
				return idx * 5;
			}
		};
		var myChart1 = echarts.init(document.getElementById('area_1'), "shine");
		var myChart2 = echarts.init(document.getElementById('area_2'), "shine");
		var myChart3 = echarts.init(document.getElementById('area_3'), "shine");
		var myChart4 = echarts.init(document.getElementById('area_4'), "shine");
//		var myChart5 = echarts.init(document.getElementById('area_5'), "shine");
//		var myChart6 = echarts.init(document.getElementById('area_6'), "shine");
//		var myChart7 = echarts.init(document.getElementById('area_7'), "shine");
		myChart1.setOption(option1);
		myChart2.setOption(option2);
		myChart3.setOption(option3);
		myChart4.setOption(option4);
//		myChart5.setOption(option5);
//		myChart6.setOption(option6);
//		myChart7.setOption(option7);

	</script>
</block>