<extend name="base" />
<block name="title">
	<title>Network Service 管理</title>
</block>
<block name="quick-information">
	{:W('QuickInfo/message')}
	{:W('QuickInfo/notice')}
	{:W('QuickInfo/task')}
	{:W('QuickInfo/self')}
</block>
<block name="navigation">
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>{$user.uname}</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('doasset','doexhaust'))}
	<!--menu widget-->
</block>
<block name="content-header">
	<h1>
	资产管理
	<small><i class="fa fa-fw fa-recycle"></i>耗材</small>
  </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li>资产管理</li>
		<li class="active">耗材</li>
	</ol>
</block>

<block name="content">
	<div class="row">
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-shopping-cart"></i>
					<h3 class="box-title">耗材入库</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label>名称</label>
						<select class="form-control select2" style="width: 100%;">
							<option selected="selected">请选择</option>
							<option>垃圾袋</option>
							<option>双绞线</option>
							<option>水晶头</option>
							<option>标签纸</option>
							<option>打印纸</option>
						</select>
						<label>品牌</label>
						<select class="form-control select2" style="width: 100%;">
							<option selected="selected">请选择</option>
							<option>装天下</option>
							<option>连世界</option>
							<option>安棒</option>
							<option>印辉</option>
						</select>
						<label>型号</label>
						<select class="form-control select2" style="width: 100%;">
							<option selected="selected">请选择</option>
							<option>大</option>
							<option>中</option>
							<option>小</option>
							<option>50 mm</option>
							<option>30 mm</option>
						</select>
						<label>入库数量</label>
						<div class="input-group">
							<div class="input-group-addon">
								Num
							</div>
							<input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="请输入数字" placeholder="请输入数字" />
						</div>
						<label>数量单位</label>
						<select class="form-control select2" style="width: 100%;">
							<option>个</option>
							<option>把</option>
							<option>袋</option>
							<option>盒</option>
							<option>米</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary btn-block">提交</button>
				</div>
				<!-- box-body -->
			</div>
			<!-- box -->
		</div>
		<!-- col -->

		<div class="col-md-6">
			<div class="box box-solid bg-green-gradient">
				<div class="box-header">
					<i class="fa fa-recycle"></i>
					<h3 class="box-title">耗材</h3>
					<!-- tools box -->
					<div class="pull-right box-tools">
						<button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i>
						</button>
					</div>
					<!-- /. tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body border-radius-none">
					<div class="chart" id="chart_exhaust" style="height: 250px;"></div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer text-black">
					<div class="row">
						<div class="col-sm-6">
							<!-- Progress bars -->
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">垃圾袋</span>
								<small class="pull-right">2 包</small>
							</div>
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">水晶头</span>
								<small class="pull-right">54 个</small>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">双绞线</span>
								<small class="pull-right">14 米</small>
							</div>
							<div class="clearfix" style="border-bottom: 1px solid #eee">
								<span class="pull-left">标签纸</span>
								<small class="pull-right">2 包</small>
							</div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
			</div>
			<!-- /.box -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-warning">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-table"></i>
					<h3 class="box-title">耗材表</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>

				<div class="box-body">
					<table id="example1" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>id</th>
								<th>批次</th>
								<th>名称</th>
								<th>品牌</th>
								<th>型号</th>
								<th>剩余数量</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>2015-10-12</td>
								<td>垃圾袋</td>
								<td>装天下</td>
								<td>小</td>
								<td>2 包</td>
							</tr>
							<tr>
								<td>2</td>
								<td>2015-10-12</td>
								<td>水晶头</td>
								<td>安棒</td>
								<td>X</td>
								<td>1 盒</td>
							</tr>
							<tr>
								<td>3</td>
								<td>2015-10-12</td>
								<td>标签纸</td>
								<td>印辉</td>
								<td>30 mm</td>
								<td>2 盒</td>
							</tr>
							<tr>
								<td>4</td>
								<td>2015-10-12</td>
								<td>标签纸</td>
								<td>印辉</td>
								<td>30 mm</td>
								<td>1 盒</td>
							</tr>
							<tr>
								<td>5</td>
								<td>2015-10-28</td>
								<td>垃圾袋</td>
								<td>装天下</td>
								<td>小</td>
								<td>2 包</td>
							</tr>
							<tr>
								<td>6</td>
								<td>2015-10-28</td>
								<td>水晶头</td>
								<td>安棒</td>
								<td>X</td>
								<td>1 盒</td>
							</tr>
							<tr>
								<td>7</td>
								<td>2015-10-28</td>
								<td>标签纸</td>
								<td>印辉</td>
								<td>30 mm</td>
								<td>2 盒</td>
							</tr>
							<tr>
								<td>8</td>
								<td>2015-10-28</td>
								<td>标签纸</td>
								<td>印辉</td>
								<td>30 mm</td>
								<td>1 盒</td>
							</tr>
							<tr>
								<td>9</td>
								<td>2015-10-29</td>
								<td>标签纸</td>
								<td>印辉</td>
								<td>30 mm</td>
								<td>2 盒</td>
							</tr>
							<tr>
								<td>10</td>
								<td>2015-10-29</td>
								<td>标签纸</td>
								<td>印辉</td>
								<td>30 mm</td>
								<td>1 盒</td>
							</tr>
							<tr>
								<td>11</td>
								<td>Camino 1.0</td>
								<td>OSX.2+</td>
								<td>1.8</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>12</td>
								<td>Camino 1.5</td>
								<td>OSX.3+</td>
								<td>1.8</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>13</td>
								<td>Netscape 7.2</td>
								<td>Win 95+ / Mac OS 8.6-9.2</td>
								<td>1.7</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>14</td>
								<td>Netscape Browser 8</td>
								<td>Win 98SE+</td>
								<td>1.7</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>15</td>
								<td>Netscape Navigator 9</td>
								<td>Win 98+ / OSX.2+</td>
								<td>1.8</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>16</td>
								<td>Mozilla 1.0</td>
								<td>Win 95+ / OSX.1+</td>
								<td>1</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>17</td>
								<td>Mozilla 1.1</td>
								<td>Win 95+ / OSX.1+</td>
								<td>1.1</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>18</td>
								<td>Mozilla 1.2</td>
								<td>Win 95+ / OSX.1+</td>
								<td>1.2</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>19</td>
								<td>Mozilla 1.3</td>
								<td>Win 95+ / OSX.1+</td>
								<td>1.3</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>20</td>
								<td>Mozilla 1.4</td>
								<td>Win 95+ / OSX.1+</td>
								<td>1.4</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>21</td>
								<td>Mozilla 1.5</td>
								<td>Win 95+ / OSX.1+</td>
								<td>1.5</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>22</td>
								<td>Mozilla 1.6</td>
								<td>Win 95+ / OSX.1+</td>
								<td>1.6</td>
								<td>A</td>
								<td>把</td>
							</tr>
							<tr>
								<td>23</td>
								<td>Mozilla 1.7</td>
								<td>Win 98+ / OSX.1+</td>
								<td>1.7</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>24</td>
								<td>Mozilla 1.8</td>
								<td>Win 98+ / OSX.1+</td>
								<td>1.8</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>25</td>
								<td>Seamonkey 1.1</td>
								<td>Win 98+ / OSX.2+</td>
								<td>1.8</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>26</td>
								<td>Epiphany 2.20</td>
								<td>Gnome</td>
								<td>1.8</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>27</td>
								<td>Safari 1.2</td>
								<td>OSX.3</td>
								<td>125.5</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>28</td>
								<td>Safari 1.3</td>
								<td>OSX.3</td>
								<td>312.8</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>29</td>
								<td>Safari 2.0</td>
								<td>OSX.4+</td>
								<td>419.3</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>30</td>
								<td>Safari 3.0</td>
								<td>OSX.4+</td>
								<td>522.1</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>31</td>
								<td>OmniWeb 5.5</td>
								<td>OSX.4+</td>
								<td>420</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>32</td>
								<td>iPod Touch / iPhone</td>
								<td>iPod</td>
								<td>420.1</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>33</td>
								<td>S60</td>
								<td>S60</td>
								<td>413</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>34</td>
								<td>Opera 7.0</td>
								<td>Win 95+ / OSX.1+</td>
								<td>-</td>
								<td>A</td>
								<td>个</td>
							</tr>
							<tr>
								<td>35</td>
								<td>Opera 7.5</td>
								<td>Win 95+ / OSX.2+</td>
								<td>-</td>
								<td>A</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>36</td>
								<td>Opera 8.0</td>
								<td>Win 95+ / OSX.2+</td>
								<td>-</td>
								<td>A</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>37</td>
								<td>Opera 8.5</td>
								<td>Win 95+ / OSX.2+</td>
								<td>-</td>
								<td>A</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>38</td>
								<td>Opera 9.0</td>
								<td>Win 95+ / OSX.3+</td>
								<td>-</td>
								<td>A</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>39</td>
								<td>Opera 9.2</td>
								<td>Win 88+ / OSX.3+</td>
								<td>-</td>
								<td>A</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>40</td>
								<td>Opera 9.5</td>
								<td>Win 88+ / OSX.3+</td>
								<td>-</td>
								<td>A</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>41</td>
								<td>Opera for Wii</td>
								<td>Wii</td>
								<td>-</td>
								<td>A</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>42</td>
								<td>Nokia N800</td>
								<td>N800</td>
								<td>-</td>
								<td>A</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>43</td>
								<td>Nintendo DS browser</td>
								<td>Nintendo DS</td>
								<td>8.5</td>
								<td>C/A<sup>1</sup></td>
								<td>盒</td>
							</tr>
							<tr>
								<td>44</td>
								<td>Konqureror 3.1</td>
								<td>KDE 3.1</td>
								<td>3.1</td>
								<td>C</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>45</td>
								<td>Konqureror 3.3</td>
								<td>KDE 3.3</td>
								<td>3.3</td>
								<td>A</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>46</td>
								<td>Konqureror 3.5</td>
								<td>KDE 3.5</td>
								<td>3.5</td>
								<td>A</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>47</td>
								<td>Internet Explorer 4.5</td>
								<td>Mac OS 8-9</td>
								<td>-</td>
								<td>X</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>48</td>
								<td>Internet Explorer 5.1</td>
								<td>Mac OS 7.6-9</td>
								<td>1</td>
								<td>C</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>49</td>
								<td>Internet Explorer 5.2</td>
								<td>Mac OS 8-X</td>
								<td>1</td>
								<td>C</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>50</td>
								<td>NetFront 3.1</td>
								<td>Embedded devices</td>
								<td>-</td>
								<td>C</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>51</td>
								<td>NetFront 3.4</td>
								<td>Embedded devices</td>
								<td>-</td>
								<td>A</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>52</td>
								<td>Dillo 0.8</td>
								<td>Embedded devices</td>
								<td>-</td>
								<td>X</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>53</td>
								<td>Links</td>
								<td>Text only</td>
								<td>-</td>
								<td>X</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>54</td>
								<td>Lynx</td>
								<td>Text only</td>
								<td>-</td>
								<td>X</td>
								<td>盒</td>
							</tr>
							<tr>
								<td>55</td>
								<td>IE Mobile</td>
								<td>Windows Mobile 6</td>
								<td>-</td>
								<td>C</td>
								<td>袋</td>
							</tr>
							<tr>
								<td>56</td>
								<td>PSP browser</td>
								<td>PSP</td>
								<td>-</td>
								<td>C</td>
								<td>袋</td>
							</tr>
							<tr>
								<td>57</td>
								<td>All others</td>
								<td>-</td>
								<td>-</td>
								<td>U</td>
								<td>袋</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>id</th>
								<th>编号</th>
								<th>名称</th>
								<th>品牌</th>
								<th>型号</th>
								<th>单位</th>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- box-body -->
			</div>
			<!-- box -->
		</div>
		<!-- col-md-12 -->
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		//Morris
		var line_exhaust = new Morris.Line({
			element: 'chart_exhaust',
			resize: true,
			data: [{
				y: '2015-02',
				item1: 23
			}, {
				y: '2015-03',
				item1: 35
			}, {
				y: '2015-04',
				item1: 35
			}, {
				y: '2015-05',
				item1: 29
			}, {
				y: '2015-06',
				item1: 36
			}, {
				y: '2015-07',
				item1: 19
			}, {
				y: '2015-08',
				item1: 45
			}, {
				y: '2015-09',
				item1: 43
			}, {
				y: '2015-10',
				item1: 52
			}, {
				y: '2015-11',
				item1: 56
			}],
			xkey: 'y',
			ykeys: ['item1'],
			labels: ['耗材总数'],
			lineColors: ['#efefef'],
			lineWidth: 2,
			hideHover: 'auto',
			gridTextColor: "#fff",
			gridStrokeWidth: 0.4,
			pointSize: 4,
			pointStrokeColors: ["#efefef"],
			gridLineColor: "#efefef",
			gridTextFamily: "Open Sans",
			gridTextSize: 10
		});
		//select2
		$(".select2").select2();
		//datatables
		var table = $("#example1").DataTable({
			"language": {
				"lengthMenu": "每页 _MENU_ 条记录",
				"zeroRecords": "没有找到记录",
				"info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
				"infoEmpty": "无记录",
				"infoFiltered": "(从 _MAX_ 条记录过滤)",
				"search": "搜索",
				"paginate": {
					"previous": "前页",
					"next": "后页"
				}
			}
		});
		$('#example1 tbody').on('click', 'tr', function() {
			var id = $(this).children().first().html();
			location.href = "index.php?s=/Boss-DoAsset-exhaustcard-id-" + id;
		});
	</script>
</block>
