<extend name="base" />
<block name="title">
	<title>Network Service 后台管理</title>
</block>

<block name="quick-information">
	{:W('QuickInfo/message')} {:W('QuickInfo/notice')} {:W('QuickInfo/task')} {:W('QuickInfo/self')}
</block>

<block name="navigation">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>胡洋</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('menufile',''))}
	<!--menu widget-->
</block>

<block name="content-header">
	<h1>程序和文件
		<small><i class="fa fa-fw fa-file-o"></i></small>
      </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li class="active">程序和文件</li>
	</ol>
</block>

<block name="content">
	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div class="col-md-12">
			<if condition="($root['level'] eq 1) ">
				<div class="box box-solid box-success">
			<elseif condition="($root['level'] eq 2) "/>
				<div class="box box-solid box-primary">
			<elseif condition="($root['level'] eq 3) "/>
				<div class="box box-solid box-warning">
			<elseif condition="($root['level'] eq 4) "/>
				<div class="box box-solid box-danger">
			<else />
				<div class="box box-solid box-success">
			</if>
				<div class="box-header no-padding">
					<a class="btn btn-default btn-sm" onclick="javascript:history.back(-1);">
						<i class="ion ion-ios-arrow-back"></i>
					</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<h3 class="box-title">
						<a href="__URL__-mfile-key-{$root.id}">
							<i class="ion ion-ios-folder"></i> {$root.id}
						</a>
					</h3>
					<div class="box-tools pull-right">
						{$root.name} {$root.size}
					</div>
				</div>
				<if condition="($root['level'] eq 1) ">
				<div class="box-body no-padding bg-green-active">
				<elseif condition="($root['level'] eq 2) "/>
				<div class="box-body no-padding bg-blue-active">
				<elseif condition="($root['level'] eq 3) "/>
				<div class="box-body no-padding bg-yellow-active">
				<elseif condition="($root['level'] eq 4) "/>
				<div class="box-body no-padding bg-red-active">
				<else />
				<div class="box-body no-padding bg-green-active">
				</if>
						<div class="col-md-2 col-xs-12 ">
							<ul id="fileul" class="list-unstyled" style="overflow: auto;cursor: pointer;white-space: nowrap;">
								<foreach name="files" item="vo">
									<li class="li-file" >
										<if condition="$vo['isdir'] eq 1">
											<i class="ion ion-ios-folder"></i>
										</if>
										{$vo.name}
									</li>
								</foreach>
							</ul>
						</div>
						<div class="col-md-10 col-xs-12" id="fcontent">
							
						</div>
				</div>
				<!-- box-body -->
			</div>
		</div>
	</div>
	<!-- row -->
</block>

<block name="script">
	<script type="text/javascript">
		/*根目录*/
		var root = ["{$root.id}","{$root.name}","{$root.dir}","{$root.size}","{$root.level}"];
		/*文件名*/
		var files = [<foreach name="files" item="vo">"{$vo.name}",</foreach>0];
		/*是否为目录*/
		var isdir = [<foreach name="files" item="vo">"{$vo.isdir}",</foreach>0];
		/*父目录*/
		var dir = "{$dir}";
		$("#fileul li").click(function(){
			//alert(files[$(this).index()]);
			if(isdir[$(this).index()]=="1"){
				if(dir=="./"){
					window.location="__URL__-mfile-key-"+root[0]+"-dir-"+files[$(this).index()];
				}else{
					window.location="__URL__-mfile-key-"+root[0]+"-dir-"+dir+"+"+files[$(this).index()];
				}
			}else{
				var fname = files[$(this).index()];
				var loading = '<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>';
				$(".box").append(loading);
				$.post("<php>echo U('Admin/SystemFile/rfile')</php>",{
				dir : dir,
				fname : fname,
				key : root[0]
				},
				function(data) {
					$("div").remove(".overlay");
					if (data['status'] == true) {
						var head = "<h3>"+fname+"</h3>"
						var fcontent = '<textarea class="col-md-12 text-code" rows="20">'+data['content']+"</textarea>";
						var foot = '<h5>'+fname+'</h5>'
						$("#fcontent").empty().append(head+fcontent+foot);
						$("textarea").height($(this).scrollHeight);
					} else {
						alert(data);
						location.reload();
					}
				});
			}
		});
	</script>
</block>