<extend name="base" />
<block name="title">
	<title>Network Service 后台管理</title>
</block>

<block name="quick-information">
	{:W('QuickInfo/message')} 
	{:W('QuickInfo/notice')} 
	{:W('QuickInfo/task')} 
	{:W('QuickInfo/self')}
</block>

<block name="navigation">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>{$user.uname}</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('menuuser','menuuserstaff'))}
	<!--menu widget-->
</block>

<block name="content-header">
	<h1>
		<a href="<php>echo U('Admin/User/staff')</php>" class="">
	  <i class="ion ion-backspace" data-toggle="tooltip" data-placement="top" title="返回"></i>
	</a>
		<i class="fa fa-fw fa-user"></i>用户详细信息
      </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li class="active">用户管理</li>
	</ol>
</block>

<block name="content">
	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div class="col-md-4">
			<div class="box box-widget widget-user">
				<!-- Add the bg color to the header using any of the bg-* classes -->
				<div class="widget-user-header bg-primary">
					<h3 class="widget-user-username">{$uname}</h3>
					<h5 class="widget-user-desc" id="userid">ID: {$id}</h5>
				</div>
				<div class="widget-user-image">
					<img class="img-circle" src="__PUBLIC__{$img}" alt="{$uname}">
				</div>
				<div class="box-footer">
					    <div class="row">
					    <div class="form-group margin">
							<label for="id">ID</label>
							<input type="text" disabled="true" class="form-control" id="id" value="{$id}">
						</div>
						<div class="form-group margin">
							<label for="uname">用户名</label>
							<input type="text" class="form-control" id="uname" value="{$uname}">
						</div>
						<div class="form-group margin">
							<label for="password">新密码</label>
							<input type="password" class="form-control" id="password" placeholder="密码">
						</div>
						<div class="form-group margin">
							<label for="repassword">确认新密码</label>
							<input type="password" class="form-control" id="repassword" placeholder="确认密码">
						</div>
						<div class="form-group margin">
							<label for="number">学号</label>
							<input type="number" class="form-control" id="number" value="{$number}">
						</div>
						<div class="form-group margin">
							<label for="address">地址</label>
							<input type="address" class="form-control" id="address" value="{$address}">
						</div>
						<div class="form-group margin">
							<label for="phone">电话</label>
							<input type="phone" class="form-control" id="phone" value="{$phone}">
						</div>
						<div class="form-group margin">
							<label for="">注册时间</label>
							<input type="text" disabled="true" class="form-control" value="{$begintime}">
						</div>
						<button id="updatebtn" type="button" class="btn btn-primary margin">修改</button>
					</div>
					<!-- /.row -->
				</div>
			</div>
		</div>

		
		<div class="col-md-4">
			<div class="box box-solid bg-green-gradient">
				<div class="box-header">
					<i class="fa fa-industry"></i>
					<h3 class="box-title">登陆记录</h3>
					<!-- tools box -->
					<div class="pull-right box-tools">
						<button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i>
						</button>
					</div>
					<!-- /. tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding border-radius-none">
					<div class="chart" id="chart_userlog" style="height: 250px;"></div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer text-black text-center">
					<a href="#" class="btn-block">查看更多 <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
			<!-- /.box -->
		</div>
	</div>
	<!-- row -->
</block>

<block name="script">
	<script type="text/javascript">
	/*
	 * 修改用户
	 * */
	$("#updatebtn").click(function() {
		var $btn = $(this).button('loading');
		$.post("<php>echo U('Admin/User/staffedit')</php>", {
			    id: $("#id")[0].value,
			    user_id:{$user_id},
				uname: $("#uname")[0].value,
				number: $("#number")[0].value,
				address: $("#address")[0].value,
				phone: $("#phone")[0].value,
				password: $("#password")[0].value,
				repassword: $("#repassword")[0].value
			},			
			function(data) {
				$btn.button('reset');
				if (data == true) {
					alert("修改成功");
				} else {
					alert(data);
				}
				location.reload();
			});
	});
	
		var line_exhaust = new Morris.Line({
			element: 'chart_userlog',
			resize: true,
			data: [{
				y: '2015-02',
				item1: 23
			}, {
				y: '2015-03',
				item1: 35
			}, {
				y: '2015-04',
				item1: 35
			}, {
				y: '2015-05',
				item1: 29
			}, {
				y: '2015-06',
				item1: 36
			}, {
				y: '2015-07',
				item1: 19
			}, {
				y: '2015-08',
				item1: 45
			}, {
				y: '2015-09',
				item1: 43
			}, {
				y: '2015-10',
				item1: 52
			}, {
				y: '2015-11',
				item1: 56
			}],
			xkey: 'y',
			ykeys: ['item1'],
			labels: ['登陆记录'],
			lineColors: ['#efefef'],
			lineWidth: 2,
			hideHover: 'auto',
			gridTextColor: "#fff",
			gridStrokeWidth: 0.4,
			pointSize: 4,
			pointStrokeColors: ["#efefef"],
			gridLineColor: "#efefef",
			gridTextFamily: "Open Sans",
			gridTextSize: 10
		});
	</script>
</block>