<extend name="base" />
<block name="title">
	<title>Network Service 管理</title>
</block>

<block name="quick-information">
	{:W('QuickInfo/message')}
	{:W('QuickInfo/notice')}
	{:W('QuickInfo/task')}
	{:W('QuickInfo/self')}
</block>

<block name="navigation">
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>{$user.uname}</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('dopeople','dodimission'))}
	<!--menu widget-->
</block>

<block name="content-header">
	<h1>
	人事相关
	<small><i class="fa fa-fw fa-calendar-check-o"></i>离职信息</small>
  </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li>人事相关</li>
		<li class="active">离职信息</li>
	</ol>
</block>

<block name="content">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<i class="fa fa-fw fa-calendar-check-o"></i>
							<h3 class="box-title">离职申请</h3>

							<div class="box-dimissions pull-right">
								<button type="button" class="btn btn-box-dimission" data-widget="collapse"><i class="fa fa-minus"></i></button>
								<button type="button" class="btn btn-box-dimission" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<div class="box-body">
							<form id="addform">
								<div class="form-group">
									<div class="form-group">
									<label>岗位</label>
									<div class="input-group" style="width: 100%;">
									    <select id="position" class="form-control">
												<option selected>请选择</option>
												<option>维护岗位</option>
												<option>技术岗位</option>
												<option>管理岗位</option>
										</select>		
									</div>
									<label>入职时间</label>
									<br/>
									<div class="input-group" style="width: 100%;">
										<input type="date" id="time1" class="form-control">
									</div>
									<label>离职时间</label>
									<br/>
									<div class="input-group" style="width: 100%;">
										<input type="date" id="time2" class="form-control">
									</div>
									<label>离职原因</label>
									<div class="input-group" style="width: 100%;">
										<input type="text" class="form-control" id="reason" name="reason" />
									</div>
								  
								</div>
							</form>
							<button type="submit" id="addbtn" class="btn btn-primary btn-block">提交</button>
						</div>
						<!-- box-body -->
					</div>
			        <!-- box -->
				</div>
				
			</div>
			
		</div>
		<!-- /.col -->
		
	</div>
	<div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-fw fa-table"></i>
                    <h3 class="box-title">审批信息</h3>&ensp;                    
                    <div class="box-notes pull-right">
                        <button type="button" class="btn btn-box-note" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-note" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="state" class="table table-hover">
                        <thead>
                        <th>ID</th>
                        <th>申请离职时间</th>
                        <th>离职原因</th>
                        <th>申请时间</th>
                        <th>审批意见</th>
                        <th>批准离职时间</th>
                        <th>审批时间</th>
                        </thead>
                        <tbody>
                        <volist name="state" id="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.end_time}</td>
                                <td>{$vo.reason}</td>
                                <td>{$vo.apply_time}</td>
                                <td>{$vo.approve}</td>
                                <td>{$vo.dimission_time}</td>
                                <td>{$vo.time}</td>
                            </tr>                           
                        </volist>
                        <if condition="$dimission neq null">
                        	<tr>
                                <td>{$dimission.0.id}</td>
                                <td>{$dimission.0.end_time}</td>
                                <td>{$dimission.0.reason}</td>
                                <td>{$dimission.0.apply_time}</td>                                
                            </tr>    
                        </if>
                        </tbody>
                    </table>
                </div>
                <!-- box-body -->
            </div>
        </div>
</block>

<block name="script">
	
	
	<script>
		var loading = '<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>';
		/**
		 * 添加考勤
		 * */
		$("#addbtn").click(function() {
			$(".box").append(loading);
			$.post("<php>echo U('Staff/DoPeople/dimissionadd')</php>", {
						uname: '{$user.uname}',
						position: $("#position")[0].value,
						start_time: $("#time1")[0].value,
						end_time: $("#time2")[0].value,
						reason: $("#reason")[0].value	
					},
					function(data) {
						$("div").remove(".overlay");
						if (data == true) {
							alert("添加成功");
						} else {
							alert(data);
						}
						location.reload();
					});
		});
		
		
	
		
	</script>
</block>