<extend name="base" />
<block name="title">
	<title>Network Service 管理</title>
</block>

<block name="quick-information">
	{:W('QuickInfo/message')}
	{:W('QuickInfo/notice')}
	{:W('QuickInfo/task')}
	{:W('QuickInfo/self')}
</block>

<block name="navigation">
	<div class="user-panel">
		<div class="pull-left image">
			<img src="__PUBLIC__{$user.img}" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>{$user.uname}</p>
			<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
		</div>
	</div>

	<!--search widget-->
	{:W('Search/index')}
	<!-- search widget -->

	<!--menu widget-->
	{:W('Menu/index',array('dopeople','dovacation'))}
	<!--menu widget-->
</block>

<block name="content-header">
	<h1>
	人事相关
	<small><i class="fa fa-fw fa-calendar-check-o"></i>请假信息</small>
  </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Network Service</a></li>
		<li>人事相关</li>
		<li class="active">请假信息</li>
	</ol>
</block>

<block name="content">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<i class="fa fa-fw fa-calendar-check-o"></i>
							<h3 class="box-title">请假申请</h3>

							<div class="box-vacations pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<div class="box-body">
							<form id="addform">
								<div class="form-group">
									<label>请假时间</label>
									<br/>
									<label>从</label>
									<div class="input-group" style="width: 100%;">
										<!--<input type="date" id="time1" class="form-control">-->
										<input type="text" class="form-control" id="time1" name="time1" placeholder="选择日期" autocomplete="off" data-provide="datepicker" value="<php>echo date('Y-m-d',strtotime('now'))</php>"  />
									</div>
									<label>到</label>									
									<div class="input-group" style="width: 100%;">
										<!--<input type="date" id="time2" class="form-control">-->
										<input type="text" class="form-control" id="time2" name="time1" placeholder="选择日期" autocomplete="off" data-provide="datepicker" value="<php>echo date('Y-m-d',strtotime('now'))</php>"  />
									</div>
									<label>请假原因</label>
									<div class="input-group" style="width: 100%;">
										<input type="text" class="form-control" id="reason" name="reason" />
									</div>
								</div>
							</form>
							<button type="submit" id="addbtn" class="btn btn-primary btn-block">提交</button>
						</div>
						<!-- box-body -->
					</div>
			        <!-- box -->
				</div>
				
			</div>
		</div>
		<!-- /.col -->
			<div class="col-md-8">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-table"></i>
					<h3 class="box-title">审批信息</h3>&ensp;
					<div class="box-notes pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body table-responsive no-padding">
					<table id="state" class="table table-hover">
						<thead>
						<th class="sr-only">ID</th>
						<th>请假时间从</th>
						<th>到</th>
						<th>请假原因</th>
						<th>申请时间</th>
						<th>审批意见</th>
						<th>审批时间</th>
						</thead>
						<tbody>
						<volist name="state" id="vo">
							<tr>
								<td class="sr-only">{$vo.id}</td>
								<td>{$vo.start_time}</td>
								<td>{$vo.end_time}</td>
								<td>{$vo.reason}</td>
								<td>{$vo.time}</td>
								<td>{$vo.approve}</td>
								<td>{$vo.time}</td>
							</tr>
						</volist>
						<if condition="$vacation neq null">
							<volist name="vacation" id="vo">
							<tr>
								<td class="sr-only">{$vo.id}</td>
								<td>{$vo.start_time}</td>
								<td>{$vo.end_time}</td>
								<td>{$vo.reason}</td>
								<td>{$vo.time}</td>
							</tr>
						</volist>
						</if>						
						</tbody>
					</table>
				</div>
				<!-- box-body -->
			</div>
		</div>
	</div>
</block>

<block name="script">
	
	
	<script>
		var loading = '<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>';
		/**
		 * 添加考勤
		 * */
		$("#addbtn").click(function() {
			$(".box").append(loading);
			$.post("<php>echo U('Staff/DoPeople/vacationadd')</php>", {
						uname: '{$user.cname}',
						start_time: $("#time1")[0].value,
						end_time: $("#time2")[0].value,
						reason: $("#reason")[0].value	
					},
					function(data) {
						$("div").remove(".overlay");
						if (data == true) {
							alert("添加成功");
							location.reload();
						} else {
							alert(data);
						}
					});
		});
		
		
	
		
	</script>
</block>